<% title "DreamFunded | Invest" %>
<div class= "wrapper">

  <div class="header education-center">
    <div class='education-title'>Invest in <%= @company.name %></div>
    <a href="/personal_info/<%= @company.name %>" class='education-links '>Personal Info</a> <%= fa_icon "chevron-right"%>
    <a href="/investor_details/<%= @company.name %>" class='education-links '>Investor Details</a> <%= fa_icon "chevron-right"%>
    <a href="#" class='education-links disabled-link '>Educational Disclaimer</a> <%= fa_icon "chevron-right"%>
    <a href="#" class='education-links disabled-link'> Pre-Purchase </a> <%= fa_icon "chevron-right"%>
    <span href="#" class='education-links active-link'> Subscription Agreement </span>
  </div>

  <div class= "campaign-box get-funded ">

  <div class="row">
    <div class=" active">
      <h2 class= "darkblue no-margin centered"><a  id="login-form-link">Subscription Agreement</a></h2>
      <br>

      <textarea style="overflow:scroll"  class='subcription-agreement' readonly>
        <%= render "subcription_agreement",  locals: { user: @user, company: @company}  %>
      </textarea>
    </div>
  </div>

  <div class= "login-container">
    <%= form_tag "/subscription_agreement_submit/#{@company.name}", method: :post,  multipart: true do |f| %>
      <%= hidden_field_tag :user_id, @user.id %>
      <%= hidden_field_tag :number_of_shares, @number_of_shares %>
      <%= hidden_field_tag :company_id, @company_id %>
      <%= hidden_field_tag :amount, @amount %>


      <div class='little-margin' ><strong> Name:  </strong><%= @user.name %></div><br>


      <div class='little-margin' ><strong> Email: </strong><%=  @user.email %></div><br>


      <div class='little-margin' ><strong> Signature </strong></div>
      <div class='little-margin' ><i> Sign your name in the field below by typing your full legal name. </i></div>
      <div class='little-margin' ><i> By typing your name here this acts as a legally binding signature. </i></div>
      <%= text_field_tag(:signature, nil ,:placeholder => "Required", :class => "input-box", required: true) %><br>



      <div class = "notice centered">
        <%= flash[:errors] if flash[:errors] %>
      </div>

      <div class= "centered">
        <%= submit_tag("Continue", :id => "submit-button") %>
      </div>
    <% end %>
  </div>

</div>
