<div class="nested-fields">

  <div class="field">
    <%= f.text_area :content, class: 'terms-inputs', required: true, placeholder: "Risk" %>
  </div>


  <%= link_to_remove_association "Remove", f %><br/>
</div>
