<html>
  <head>
    <% title "DreamFunded | My Shares " %>
  </head>

  <body>
    <div class= "wrapper">
      <div class="header">
        <h1 class="centered">My Shares</h1>
      </div>
        <div class= "bids-content">


          <% @shares.each do |share| %>
            <div class='event'>

              <div class='shares-block1'>
                  Company: <%= share.company.name %>
              </div>

              <div class='bid_block3'>
                 Number of shares: <div class='event-date'><%= share.number_shares%></div>
              </div>

              <div class='bid_block3'>
                Desired Share Price: <div class='event-date'>$<%= share.shares_price %></div>
              </div>

              <div class='bid_block3'>
                <div class='event-date'><%= link_to "Bids", '/sellers_bids' %></div>
              </div>

            </div>
          <% end %>


        </div>
    </div>
  </body>

</html>
