<html>
<head>
<%= javascript_include_tag    'docusign' %>
	<title>DreamFunded | Docusign</title>
</head>

<body><div class= "wrapper">
	<div class="header">
		<h1 class="centered">Docusign</h1>
	</div>
	<iframe src="<%= @recipient_view['url'] %>">
</div>
</body>
</html>
