/* line 11, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/colors.css.scss */
.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22);
}

/* line 7, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.wrap {
  font-family: "Calibri";
  width: 100%;
}

/* line 12, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.gray {
  color: #ECECEC;
}

/* line 15, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.grey-section {
  background-color: #f5f5f5;
  padding: 5% 12%;
  padding-bottom: 0;
}

/* line 21, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.white-section {
  background-color: #fff;
  padding-top: 18px;
  padding-bottom: 100px;
}

/* line 30, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.nav-links a {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 3px;
  font-family: 'Gotham',sans-serif;
  color: #424242;
  -webkit-font-smoothing: antialiased;
}

/* line 38, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-cover-photo {
  min-height: 450px;
  height: 450px;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* line 45, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.nav-links {
  text-align: center;
}

/* line 48, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-logo {
  width: 150px;
}

/* line 51, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.campaign-website {
  margin-top: 50px;
  margin-left: -20px !important;
}

/* line 55, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.website-url {
  font-size: 13px;
  color: #424242 !important;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  border-bottom: 2px solid #016baa;
}

/* line 62, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.social-media-campaign {
  display: inline-block;
  vertical-align: top;
  margin-top: 65px;
  margin-left: 60px;
}

/* line 68, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.help-our-campaign {
  color: gray;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: .1px;
  font-family: Gotham;
  text-align: center;
}

/* line 76, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.section-title {
  font-family: Gotham, sans-serif;
  color: #424242;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font-size: 30px;
}

/* line 83, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.category-name {
  font-family: Gotham, sans-serif;
  color: #424242;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  font-size: 25px;
}

/* line 90, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-profile-bottom-line {
  position: absolute;
  bottom: 0;
  left: 10%;
}

/* line 95, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-basic-info {
  font-size: 2em;
  font-weight: bold;
  font-family: Gotham, sans-serif;
  letter-spacing: -1px;
  color: #fff;
  padding-left: 15px;
  padding-top: 15px;
  display: inline-block;
  vertical-align: top;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* line 107, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-info-cateogry {
  letter-spacing: 1px;
  font-size: 12px;
  color: #fff;
  opacity: 0.9;
  font-family: Arial;
  margin-left: 50px;
  text-transform: uppercase;
}

/* line 116, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-finance-info {
  font-size: 20px;
  color: #fff;
  line-height: 2.1;
  font-family: Gotham;
  margin-left: 66px;
}

/* line 123, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.fund-america-invest-button {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 128, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.fund-america-invest-button button {
  font-size: 18px;
  border-radius: 3px;
  font-family: Gotham;
  padding: 14px;
}

/* line 134, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-info-cateogry:nth-child(1) {
  margin-top: 100px;
}

/* line 137, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-info-right-panel {
  position: absolute;
  width: 25%;
  max-width: 400px;
  right: 18%;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 146, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-slogan {
  font-weight: 500;
  font-family: Arial;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0;
  font-style: italic;
}

/* line 154, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-location {
  font-size: 15px;
  font-family: Arial;
  letter-spacing: 0;
  font-weight: 100;
}

/* line 161, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.edit-profile-campaign {
  width: 60%;
}

/* line 164, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.edit_fin_info {
  display: inline-block;
  width: 35%;
}

/* line 168, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company_located {
  font-size: 14px;
}

/* line 171, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
#formc-button {
  width: inherit;
}

/* line 175, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.document-url {
  color: grey;
  vertical-align: top;
}

/* line 179, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.category-name {
  font-size: 20px;
}

/* line 182, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.tab-name {
  font-weight: bold;
  padding: 3px;
  margin-right: 60px;
  margin-bottom: 25px;
  cursor: pointer;
}

/* line 189, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.active-tab {
  border-bottom: 2px solid #10a1d6;
}

/* line 192, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.tab-content {
  display: none;
  width: 76%;
  max-width: 800px;
  margin-left: 12%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

/* line 201, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.tab-content p {
  text-align: justify;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: .1px;
  font-family: GothamBook;
  color: #4b4b4b;
}

/* line 209, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.about_tab_content {
  display: block;
}

/* line 212, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.fin_info_col1, .fin_info_col2, .fin_info_col3 {
  display: inline-block;
  width: 30%;
  margin-right: 0 !important;
  font-family: GothamBook;
}

/* line 218, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.fin_info_col1 {
  margin-left: 50px;
}

/* line 221, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.companies-container {
  display: table;
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 20px;
}

/* line 228, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-container {
  display: table-cell;
  width: 270px;
  /*	height: 480px;*/
  padding: 20px;
  margin: 20px 1%;
  float: left;
  background: white;
  position: relative;
}

/* line 239, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.comments {
  width: 69%;
  max-width: 700px;
}

/* line 244, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.comment .headline {
  padding: 5px 14px;
  font-size: 12px;
  background-color: #DDD;
  border: solid 1px #bbb;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
  background: -moz-linear-gradient(top, #eee, #ccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#CCCCCC');
}

/* line 260, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.comment_content {
  padding: 1px 15px;
  background-color: #FFF;
  border: solid 1px #ccc;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}

/* line 272, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.comment {
  max-width: 700px;
  margin: 20px 0;
  position: relative;
}

/* line 277, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.reply_comment_form {
  display: none;
}

/* line 280, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.reply_button {
  margin-bottom: 15px;
}

/* line 283, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.reply_comment_button {
  padding: 3px 8px 2px 8px;
  font-size: 12px;
  color: #000;
  border: 1px solid #999;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ddd));
  background: -moz-linear-gradient(top, #f5f5f5, #ddd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#DDDDDD');
  text-decoration: none;
}

/* line 297, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.nested_messages {
  margin-left: 50px;
}

/* line 300, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.nested_messages .nested_messages .nested_messages .nested_messages {
  margin-left: 0px;
}

/* line 303, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.comment_as {
  font-weight: bold;
  font-family: Verdana;
}

/* line 307, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.comment_extarea {
  margin: 10px;
  width: 60%;
}

/* line 311, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.comment_submit_button {
  margin-bottom: 10px;
  margin-left: 10px;
}

/* line 315, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.comment .created_at {
  color: #666;
  padding-left: 8px;
  font-size: 13px;
}

/* line 320, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.name a {
  font-size: 13px;
}

/* line 324, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.register-content {
  margin-top: 40px;
}

/* line 328, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-image {
  height: 200px;
  width: 290px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

/* line 336, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.image-wrap {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

/* line 342, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.image {
  max-width: 180px;
  max-height: 180px;
}

/* line 347, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.image-gray {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  max-width: 180px;
  max-height: 180px;
}

/* line 354, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-description {
  margin: 5px;
  height: 200px;
}

/* line 359, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.text {
  height: 160px;
  overflow: auto;
  border-bottom: 10px solid white;
}

/* line 365, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-button {
  background: #10a1d6;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  color: white;
  cursor: pointer;
}

/* line 375, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-button:disabled {
  background: gray;
  cursor: default;
}

/* line 380, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-button:focus {
  outline: 0;
}

/* line 384, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.profile-button {
  width: 80%;
  margin: 20px auto;
  display: block;
  font-size: 17px;
}

/* line 390, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.mail-to-button {
  text-align: center;
}

/* line 395, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.button-wrap {
  text-align: center;
}

/* line 399, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.register-wrap {
  width: 500px;
}

/* line 403, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.description-wrap {
  border: 1px solid gray;
  margin: 25px auto;
}

/* line 408, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.description-box {
  width: 95%;
  height: 200px;
  margin: 2%;
  border: none;
  outline: 0;
  font-size: 16px;
}

/* line 417, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-title {
  text-align: left;
  width: 63%;
  display: inline-block;
  vertical-align: top;
}

/* line 425, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.indent {
  text-indent: 50px;
}

/* line 429, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.no-margin {
  margin: 0;
}

/* line 433, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.small-margin {
  margin: 10px 0;
}

/* line 437, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.stats-container {
  display: inline-block;
  width: 32%;
  margin-left: 3%;
  margin-bottom: 3%;
  /*height: 530px;*/
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

/* line 447, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.stats-container:hover {
  border: 1px solid #10a1d6;
}

/* line 451, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.stats-container:hover hr {
  border-top: 1px solid #10a1d6;
}

/* line 455, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.stats-image {
  max-width: 200px;
  max-height: 200px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

/* line 465, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.profile-image-wrap {
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 10px auto;
  background: white;
  text-align: center;
}

/* line 478, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.numbers {
  /*height: 200px;*/
  width: 85%;
  margin: 0 auto;
}

/* line 489, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.stretch {
  min-height: 600px;
}

/* line 493, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.posted {
  font-size: 16px;
  text-indent: 100px;
}

/* line 498, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.topbar {
  width: 100%;
  border-bottom: 1px solid gray;
  height: 30px;
}

/* line 504, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.right {
  text-align: right;
  float: right;
}

/* line 509, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.right-align {
  text-align: right;
}

/* line 513, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.spaced {
  margin-right: 20px;
}

/* line 517, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.meter {
  height: 10px;
  /* Can be anything */
  position: relative;
  background: #fff;
  opacity: 0.9;
  width: 86%;
  margin-left: 7%;
  margin-top: 8px;
  margin-bottom: 3px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 2px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

/* line 533, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.meter > span {
  display: block;
  height: 100%;
  border-radius: 20px;
  background-image: linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

/* line 549, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.percent-funded {
  margin: 0 36%;
}

/* line 553, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.orange > span {
  background-image: linear-gradient(to bottom, #0D87B3, #68C3F4);
}

/* line 557, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.back {
  background-image: black;
  position: absolute;
}

/* line 562, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.video-box {
  margin-top: 10px;
  margin-bottom: 100px;
  display: inline-block;
}

/* line 567, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.max-width-image {
  max-width: 500px;
}

/* line 570, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.invest-amount {
  text-align: center;
  width: 50% !important;
}

/*.youtube-video{
	width: 100%;
	height: 400px;
}*/
/*youtube-video different screene*/
@media screen and (min-width: 480px) {
  /* line 580, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .youtube-video {
    width: 250px;
    height: 175px;
  }
}
/*# Tablet*/
@media screen and (min-width: 768px) {
  /* line 588, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .youtube-video {
    width: 100%;
    height: 400px;
  }
}
/*# Desktop*/
@media screen and (min-width: 992px) {
  /* line 596, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .youtube-video {
    width: 400px;
    height: 300px;
  }
}
/*# Huge*/
@media screen and (min-width: 1199px) {
  /* line 603, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .youtube-video {
    width: 500px;
    height: 400px;
  }
}
/*# Huge*/
@media screen and (min-width: 1400px) {
  /* line 610, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .youtube-video {
    width: 640px;
    height: 360px;
  }
}
/* line 616, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.image-max-width {
  max-width: 600px;
}

/* line 620, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.section {
  border: 1px solid black;
  margin: 20px 0;
}

/* line 625, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.team-band div {
  display: inline-block;
  margin: 0 22px;
}

/* line 630, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.team-box {
  width: 100%;
  overflow: scroll;
  margin-top: 1%;
  position: relative;
}

/* line 637, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.team-pic {
  float: left;
  margin: 0 20px 10px 0;
}

/* line 642, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.right-align {
  text-align: right;
}

/* line 646, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.left-column {
  width: 45%;
  float: left;
  margin: 0 2%;
  height: 148px;
}

/* line 652, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.left-column-portfolio {
  width: 45%;
  float: left;
  margin: 0 2%;
}

/* line 658, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.right-column-portfolio {
  width: 100%;
  margin: 0 2%;
}

/* line 664, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.profile-wrap {
  width: 1000px;
}

/* line 668, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.fake-button {
  width: 80%;
  background: gray;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin: 20px auto;
}

/* line 677, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.thank-you-margin {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
  width: 60% !important;
  margin: 0 auto;
  background: white;
  padding: 20px;
}

/* line 685, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.margin-bottom-50 {
  margin-bottom: 20px;
}

/*R I B B O N*/
/* line 691, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.ribbon {
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: absolute;
  left: -45px;
  top: 61px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
  -moz-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
}

/* line 710, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}

/* line 722, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.slide {
  width: Calc(100% - 196px);
  /*196px means both sides (left 98px and right 98px)*/
  margin: 0 auto;
}

/* line 727, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

/* line 732, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]:focus {
  outline: none;
}

/* line 735, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #10a1d6;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

/* line 745, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

/* line 756, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

/* line 759, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

/* line 769, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* line 778, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

/* line 788, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* line 794, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* line 800, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* line 809, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

/* line 812, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/*M O B I L E*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  /* line 821, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .company-button {
    -webkit-appearance: none;
    font-size: 31px !important;
  }

  /* line 825, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .twenty {
    font-family: Helvetica;
  }

  /* line 828, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .twenty {
    font-size: 31px !important;
  }

  /* line 831, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .video-box {
    margin: 20% auto;
  }

  /* line 834, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .company-description {
    height: 230px;
  }
}
