/* line 1, /Users/Youdong/Box Sync/Summer 2015/Dream Funded/dreamfunded_repo/app/assets/stylesheets/contact_us.css.scss */
.contact-us-info {
  margin-top: 5px;
}

/* line 5, /Users/Youdong/Box Sync/Summer 2015/Dream Funded/dreamfunded_repo/app/assets/stylesheets/contact_us.css.scss */
.liquidate-info {
  margin-top: 5px;
  text-align: justify;
}
