// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Styling for index.html.erb



.subtitle {
	font-size: 30px;
}

.container {
	max-width: 100% !important;
	position: relative;
}
.cover-image{
	width: 100%;
}

.fullWidth {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

////////------------- Front ----------------//////////

.top {
	background-color: white;
}

.space-keeper {
	/*min-height: 600px;*/
}

.big-title {
	top: 270px;
	position: absolute;
	width: 100%;
	text-align: center;
}

h1 {
	font-size: 50px;
	font-family: "Open Sans", arial, sans-serif;

}

h3 {
	font-size: 23px;
	font-weight: 300;
	font-family: "Open Sans", arial, sans-serif;
}
.top-space h3 {
	margin-top: -15px;
}
.button-box {
	position: relative;
	margin: 50px;
}

.sky {
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.invest-button {
  width: 20%;
  margin: 7% auto;
  display: inline-block;
  padding: 15px;
  background: #10a1d6;
  font-size: 20px;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
}
.invest-now-button{
	margin-right: 0px;
}
.liquidate-now-button{
	margin-left: 25px;
}


.invest-button:hover {
	background: #0B6E91;
}

.invest-button:active {
	outline: none;
}

#push {
	padding: 17px;
	width: 40%;
	background: #10a1d6;
	font-size: 20px;
	border: none;
	color: white;
	cursor: pointer;
	outline: none;
	border-radius: 4px;
}

#push:hover {
	background: #0B6E91;
}

#push:active {
	outline: none;
}

#go_back_button{
	padding: 17px;
	width: 22%;
	background: #0d87b3;
	font-size: 20px;
	border: none;
	color: white;
	cursor: pointer;
	outline: none;
}
#go_back_button:hover{
	background: #0B6E91;
}

.remove-margin {
	margin-top: 0;
	margin-bottom: 0;
}

.top-space {
	margin-top: 30px;
}

////---------------- Section 2 -------------------- ////////


.section2 {
	margin: 50px auto;
	height: 550px;
}

.boxes {
	margin: 0 auto;
	width: 95%;
}

.section2-box {
	//border: 1px solid gray;
	// background: -webkit-linear-gradient(bottom, white, #ECECEC); /* For Safari 5.1 to 6.0 */
	// background: -o-linear-gradient(top, white, #ECECEC);  For Opera 11.1 to 12.0
	// background: -moz-linear-gradient(top, white, #ECECEC); /* For Firefox 3.6 to 15 */
	// background: linear-gradient(to top, white, #ECECEC); /* Standard syntax */
	background: white;
	width: 29%;
	height: 460px;
	float: left;
	margin: 0 2%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 10px;
}

.section2-box:hover {
	//border: 1px solid #0d87b3;
}

.section2-content {
	padding: 30px;
	padding-top: 12px;
}

.outer {
	margin: 0 auto;
	display: table;
	margin-top: 30px;
}

.middle {
	margin-top: 50px;
}

.image2 {
	max-width: 180px;
	max-height: 180px;
}

.seventeen {
	font-size: 17px;
}

.bigger {
	font-size: 2em;
}

.box-text {
	height: 130px;
	color: gray;
}


////---------------- Team -------------------- ////////


.header-contents {
	padding: 10px;
}

.team {
	margin: 30px auto;
	width: 85%;
	padding: 20px;
	position: relative;
}

.team-wrap {
	position: relative;
	height: 250px;
	margin-bottom: 50px;
}

.team-picture {
	height: 195px;
	border-radius: 50%;
	margin-top: 25px;
}

.team-pic-wrap {
	float: left;
}

.white-box {
	background: white;
	height: 200px;

	padding: 25px;
	margin-left: 300px;
	vertical-align: middle;
	position: relative;
}

.summary {
	height: 90px;
	padding: 10px;
	overflow: hidden;
}

.team-button {
	display: inline-block;
	border: none;
	outline: 0;
	color: white;
	padding: 10px 40px;
	background-color: #0d87b3;
	margin: 15px 0;
	cursor: pointer;
}

.name {
	border-bottom: 1px solid #CCCCCC;
}

.indentt {
	text-indent: 25px;
}

.long {
	height: 400px;
}

.all_team {
	float: left;
	width: 150px;
	margin: 10px;
	height: 600px;
	overflow: scroll;
}
.portrait_left {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.full-bio-team {
	margin: 30px 1% 30px 14%;
}

.unbold {
	 font-weight: normal;
	 text-decoration: underline;
}


////---------------- Logos -------------------- ////////

.logos {
	background-color: white;
	height: 420px;
	margin: 50px 0;
}

.logos-container {
	width: 1200px;
	position: relative;
	margin: 0 auto;
}
.padding-top-100{
	padding-top: 10px;
}
.padding-mentioned-in{
	padding-top: 28px;
}
.row1{
  text-align: center;
}
.row1 img {
	width: 150px;
	height: 150px;
	margin: 10px 40px;
}

.row2{
	position: relative;
	margin-top: 50px;
	margin-bottom: 128px;
  /*text-align: center;*/
}
.row2 img {
	position: absolute;
	max-height: 100px;
	max-width: 330px;
	margin: 25px 14px;
}
#wallstreet_logo{
	left: 400px;
	padding-top: 14px;
}
#fast_company_logo{
	left: 800px;
	padding-top: 13px;
}

////---------------- Story -------------------- ////////

.story-img {
	text-align: center;
	height: 350px;
	overflow: hidden;
	background-color: black;
}

.story-cont {
	margin: 0 auto;
	width: 85%;
	position: relative;
}

.story {
	padding-bottom: 70px;
}

.one-story {
	width: 33%;
	margin: 0;
	height: inherit;
	display: inline-block;
	overflow: hidden;
}

.story-img img.wide {
    height: 100%;
}
.story-img img.tall {
    width: 100%;
}​

.spacer {
	height: 50px;
}

.black-box {
	height: 80px;
	background-color: rgba(0, 0, 0, .8);
	color: white;
	width: 100%;
	position: absolute;
	bottom: 0;
	overflow: hidden;
}

.black-box-content {
	margin: 30px;
	position: relative;
}

#one {
	display: block;
}

#two {
	display: none;
}

#three {
	display: none;
}

/*M O B I L E*/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
	.main-menu li{
		visibility: hidden;
	}
	#mobile-menu{
		float: right !important;
		visibility: visible !important;
	}
	#mobile-menu li{
		visibility: visible;
	}
	#left{
		visibility: visible;
		position: absolute;
		top: 12px;
	}
	.big-title{

	}
	.row2 {
		/*display: none;*/
    text-align: center;
    margin-bottom: 30px;
	}
  .watch-video-cnbc {
       margin-bottom: 8px !important;
  }
	.row1 {
		/*display: none;*/
	}
  .row2 img{
    position: relative;
  }
  #wallstreet_logo{
    left: 0;
    top: -18px;
  }
  #fast_company_logo{
    left: 0;
  }
	.invest-button{
		width: auto;
	}
	.logos-container{
		width: 100% !important;
	}
	.foot-text.darkblue{
	 	display: none;
	}
	#mentioned_in{
		display: none;
	}
	.big-title{
		top: 128px;
	}
	.big-title h1{
		font-size:52px;
	}
	.menu-wrap{
		height: 80px !important;
	}
	.menu button{
		height: 80px !important;
		font-size: 33px !important;
    font-weight: 100;
	}
	.invest-button{
		font-size: 30px !important;
		padding: 23px !important;
	}
	.space-keeper{
		min-height: 0px;
	}
	.bottom-buttons{
		visibility: hidden;
    display: none;
	}
	.section2-box{
		height: 490px;
	}
  #toast-container{
    display: none;
  }
  .cnbc-video-wrapper{
    text-align: center !important;
    margin-left: 0 !important;
  }
  .cnbc-video-title {
    visibility: hidden;
  }
  .logo {
    width: 270px;
  }
  .image4-box {
    display: none;
  }
  .sub-menu {
    min-width: 240px !important;
  }
  .footer-content{
    font-size: 18px !important;
  }
  .news-single-container{
    width: 90% !important;
  }
  .team{
    width: inherit !important;
  }
  .article-button{
    font-size: 25px !important;
  }
  .twenty{
    font-size: 34px !important;
  }
  .company-container{
    width: 43% !important;
  }
  .company-image{
    width: 30% !important;
  }
  .left-column{
    height: inherit !important;
  }
  .company-description{
    height: inherit !important;
  }
  .stats-container{
    float: none;
    width: 100%;
  }
  .profile-image-wrap{
    margin-bottom: 10% !important;
  }
  .signin-box h2 a, .signup-size h2 a{
    font-size: 1.75em !important;
  }
  .signin-box{
    width: 87% !important;
  }
  .login-button, #submit-button{
    font-size: 2em !important;
    min-width: 30% !important;
    letter-spacing: 2px;
  }
  .signup-content h4, #phone, .half, .email-signup, .userbox{
    font-size: 2.5em !important;
  }
  .check_box{
    font-size: 1.25em !important;
  }
  .signup-size{
    width: 88% !important;
  }
  .homepage-press-mentions{
    display: inline-block;
    width: 30%;
  }
  .userbox-login, .passbox{
    width:96% !important;
    font-size: 2.5em !important;
    padding: 15px;
  }
  #google-icon, #linkedin-icon{
    font-size: 2.5em;
  }
  .word-content{
    width: 90% !important;
  }
}

 /*i P A D*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  .main-menu li{
    visibility: hidden;
  }
  .ipad-menu{
    display: inline-block !important;
    float: right !important;
    visibility: visible !important;
    width: inherit !important;
  }
  .ipad-menu li{
    visibility: visible;
  }
  #left{
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0 !important;
  }
  .image4-box {
    display: none;
  }
  .logos-container{
    width: 100% !important;
  }
  .row2 img{
    position: relative;
  }
  #wallstreet_logo{
    left: 0;
    top: -18px;
  }
  #fast_company_logo{
    left: 0;
  }
  .big-title{
    top: 170px;
  }
  .homepage-press-mentions{
    display: inline-block;
    width: 30%;
  }
  .row2{
    text-align: center;
    margin-bottom: 0;
  }
  #newsletter-text-field{
    width:60% !important;
  }
  .invest-button{
    width: 31%;
    font-size: 25px;
  }
  .menu button{
    font-size: 18px !important;
  }
}

.transparent {
	color: transparent;
}
#toast-container {
  position: fixed;
  z-index: 999999999999;
  right: 12px;
  bottom: 35px;
  width: 48%;
}
#toastEmail{
	margin: 0 0 6px;
  padding: 10px 20px 20px 20px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 12px #999;
  -webkit-box-shadow: 0 0 12px #999;
  box-shadow: 0 0 12px #999;
  color: #fff;
  opacity: 1;
  background-color: #0D87B3;
  font-size: 13px;
  line-height: 20px;
  font-family: 'Open Sans',"Helvetica Neue","Verdana",sans-serif;
  font-weight: 400;
  width: 66%;
  float: right;
}
#toastEmail p{
	font-size: 14px;
	line-height: 20px;
	color: #FAFAFA!important;
}
#newsletter-text-field{
	box-sizing: border-box;
	height: 33px !important;
	vertical-align: bottom;
	display: inline-block;
  width: 65%;
  height: 18px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#newsletter-submit-button{
	height: 18px;
	box-sizing: border-box;
	height: 33px;
	vertical-align: bottom;
	border: 0;
	padding: 5px 10px;
	font-size: 12px;
	color: #3F3F3F;
  background-color: #DCDCDC;
  margin-left: 4%;
  /*padding-top: 1.75%;*/
  /*padding-bottom: 1.75%;*/
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bold;
}
#close-subcribtion{
	position: absolute;
	top: 7%;
	right: 2%;
	font-size: medium;
	cursor: pointer;
}
#close-subcribtion:hover{
	color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .4;
}
#display-later{
	display: none;
	text-align: center;
	font-size: 19px;
}
.cnbc-youtube-video{
  width: 865px;
  height: 487px;
  display: inline-block;
}
.cnbc-video-wrapper{
  text-align: center;
  margin-bottom: 100px;
}
.cnbc-video-description{
  font-size: 80%;

}
.cnbc-video-title{
  display: inline-block;
  vertical-align: top;
  font-size: 112%;
  padding-left: 30px;
  width: 75%;
}
.cnbc-video-text{
  padding-bottom: 10px;
}
.watch-video-cnbc{
  margin-bottom: 50px;
}
.cnbc-link-news{
  font-size: 80%;
  color: #333;
  text-decoration: underline;
}
.investor-logos{
  text-align: center;
}
.aca-logo{
  width: 150px;
  vertical-align: top;
  margin-left: 5%;
}
.perkins-logo{
  width: 190px;
  margin-left: 5%;
  vertical-align: top;
  margin-top: -6px;
}
.fb_iframe_widget{
  z-index: 2;
}
