/* line 11, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/colors.css.scss */
.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22);
}

/* line 5, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.signin-box {
  margin: 100px auto;
  font-family: "Lato", sans-serif;
  width: 500px;
  border: none;
  background: #ffffff;
  padding: 10px 40px 40px 40px;
}

/* line 13, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.payment-box {
  margin: 60px auto;
  font-family: "Lato", sans-serif;
  width: 500px;
  border: none;
  background: #ffffff;
  padding: 10px 40px 40px 40px;
}

/* line 22, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.userbox, .passbox {
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  padding: 3px 6px;
  font-size: 16px;
  width: 100%;
  margin: 15px auto;
}

/* line 33, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.userbox:focus, .passbox:focus {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

/* line 38, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.login-button {
  padding: 0 20px;
  min-width: 200px;
  height: 50px;
  background: #10a1d6;
  border: none;
  outline: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: white;
}

/* line 51, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.login-button:hover {
  background-color: #0D87B3;
}

/* line 55, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.signup {
  outline: 0;
  border: none;
  background: white;
  font-size: 16px;
}

/* line 62, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.signup:hover {
  text-decoration: underline;
}

/* line 66, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.notice {
  color: #0033CC;
  margin-top: 10px;
  font-size: 14px;
}

/* line 72, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.tab {
  width: 49%;
  float: left;
  position: relative;
  display: table-cell;
  padding-bottom: 10px;
}

/* line 80, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.row {
  position: relative;
  display: table;
  padding: 20px 0;
  width: 100%;
}

/* line 87, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.right-line {
  border-right: 1px solid #CCCCCC;
}

/* line 91, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.login-container {
  margin-top: 20px;
}

/* line 95, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.expand {
  height: 200px;
}

/* line 99, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.input-symbol {
  position: relative;
}

/* line 103, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.input-symbol span {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  margin-left: 0.2em;
  /* adjust as appropriate */
}

/* line 111, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.input-symbol input {
  text-indent: 1em;
  /* adjust as appropriate */
}

/* line 117, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.tooltip {
  border-bottom: 1px dotted #000000;
  color: #000000;
  outline: none;
  cursor: help;
  text-decoration: none;
  position: relative;
}

/* line 123, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.tooltip span {
  margin-left: -999em;
  position: absolute;
}

/* line 128, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.tooltip:hover span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 250px;
}

/* line 137, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.tooltip:hover img {
  border: 0;
  margin: -10px 0 0 -55px;
  float: left;
  position: absolute;
}

/* line 143, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.tooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}

/* line 150, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.classic {
  padding: 0.8em 1em;
}

/* line 151, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.custom {
  padding: 0.5em 0.8em 0.8em 2em;
}

/* line 152, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
* html a:hover {
  background: transparent;
}

/* line 153, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.classic {
  background: #FFFFAA;
  border: 1px solid #FFAD33;
}

/* line 154, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.critical {
  background: #FFCCAA;
  border: 1px solid #FF3334;
}

/* line 155, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.help {
  background: #9FDAEE;
  border: 1px solid #2BB0D7;
}

/* line 156, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.info {
  background: #9FDAEE;
  border: 1px solid #2BB0D7;
}

/* line 157, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.warning {
  background: #FFFFAA;
  border: 1px solid #FFAD33;
}

/* line 159, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.styled-select select {
  background: transparent;
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  color: #979797;
}

/* line 171, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.styled-select {
  width: 240px;
  height: 34px;
  overflow: hidden;
  background: url(arrow-select.png) no-repeat right;
  background-position: 97%;
  border: 1px solid grey;
  background-size: 25px;
  margin-top: 10px;
}

/* line 181, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.liquidate-form-company {
  float: left;
  width: 97%;
}

/* line 185, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/login.css.scss */
.half-field {
  width: 45%;
}
