/* line 11, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/colors.css.scss */
.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22);
}

/* line 5, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
.menu-wrap {
  background-color: white;
  box-shadow: 0 2px 4px rgba(9, 94, 125, 0.2), 0 2px 4px rgba(9, 94, 125, 0.22);
  position: fixed;
  top: 0;
  border: none;
  outline: 0;
  z-index: 999;
  height: 52px;
}

/* line 16, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
.main-menu {
  display: inline;
  clear: both;
}

/* line 20, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
#mobile-menu {
  float: left;
  visibility: hidden;
}

/* line 25, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
a {
  text-decoration: none;
}

/* line 29, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
.white a, .white {
  color: white;
}

/* line 33, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
.menu {
  margin: 0 auto;
}

/* line 37, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
.menu li {
  margin: 0;
  list-style: none;
}

/* line 42, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
.menu > ul > li {
  display: inline-block;
  position: relative;
  font-size: 18px;
  float: right;
}

/* line 49, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
.menu > ul > li:hover {
  background-color: #dfdfdf;
}

/* line 53, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
.menu > ul > li:hover, .menu li:hover, .sub-menu li:hover, button:hover {
  cursor: hand;
  cursor: pointer;
}

/* line 58, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
.sub-menu {
  width: 130%;
  min-width: 170px;
  padding: 0;
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  opacity: 0;
  transition: opacity linear 0.15s;
  background: #dfdfdf;
  box-shadow: 0 6px 8px rgba(9, 94, 125, 0.2);
}

/* line 72, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
.sub-menu button {
  min-width: 170px;
  text-align: left;
}

/* line 77, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
.sub-menu li:hover {
  background: #b4b4b4;
}

/* line 81, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
.menu li:hover .sub-menu {
  display: block;
  opacity: 1;
}

/* line 86, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
button {
  outline: 0;
  border: none;
  background: transparent;
  font-size: 18px;
  color: white;
}

/* line 94, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
.main-menu button {
  color: #0d87b3;
}

/* line 98, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
.menu button {
  font-size: 16px;
  padding: 0 17px;
  height: 52px;
  font-weight: 600;
}

/* line 106, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
.arrow {
  font-size: 10px;
  line-height: 0%;
}

/* line 111, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
.logo {
  background: transparent url("/assets/DreamFundedLogo.png") no-repeat top left;
  background-size: contain;
  height: inherit;
  width: 180px;
  position: relative;
  border-top: 10px solid transparent;
  border-bottom: 12px solid transparent;
}

/* line 121, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
#nopadding {
  padding: 0;
}

/* line 125, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
#left {
  margin-left: 40px;
  float: left;
  height: 52px;
}

/* line 131, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
#left:hover {
  background: white;
}

/* line 134, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
#sign-in-button {
  background-color: #FFAA00;
  color: white;
}

/* line 138, /Users/apprentice/Desktop/dreamfunded_repo/app/assets/stylesheets/menu.css.scss */
#last-menu-button {
  width: 77px;
}
