<head>
  <% title "DreamFunded | Auctions" %>
</head>

<div class= "wrapper">
  <div class="header">
    <h1 class="centered">My Auctions</h1>
  </div>
  <div class= "bids-content">


    <% @bids.each do |bid| %>
      <div class='event'>

        <div class='shares-block3'>
            <%= image_tag bid.company.image.url, class: 'event-image' %>
        </div>

        <div class='shares-block3'>
           Number of shares: <div class='event-date'><%= number_with_delimiter bid.number_of_shares%></div>
        </div>

        <div class='shares-block3'>
          Bid Amount: <div class='event-date'>$<%= bid.bid_amount %></div>
        </div>

        <div class='shares-block3'>
          Total: <div class='event-date'>$<%= number_with_delimiter ( bid.number_of_shares.to_i * bid.bid_amount.to_i )%></div>
        </div>

        <div class='shares-block3'>
          Status: <div class='event-date'>Pending</div>
        </div>

      </div>
    <% end %>


  </div>
</div>
