<% title "DreamFunded | Mentors" %>

<div class= "wrapper">
  <div class="header">
    <h1 class="centered">DreamFunded Mentor Network</h1>
  </div>
  <div class= "events-content">


    <% @advisors.each do |advisor| %>
      <div class= "team-member-box">

          <%= image_tag( advisor.image.url, :class => "company-members") %>
          <h2 class= "team-member-name"><%= advisor.name %></h2>
          <h2 class='team-member-title'><%= advisor.title %></h2>
          <p class= "team-member-bio"><%= nl2br(h(advisor.bio)).html_safe %></p>

      </div>
    <% end %>


  </div>
</div>
