<html>
	<head>
	    <%= javascript_include_tag    'signup' %>
	   <title>DreamFunded | Sign Up</title>
	</head>

	<body>
		<div class= "wrapper">
			<div class= "header"><h1 class= "centered"> Profile </h1></div>
			<div class= "word-content"><div class= "text-content">
				<h3> Hello <%= current_user.name %> </h3>
			</div></div>
		</div>
	</body>
</html>
