<head>
	<title>DreamFunded | Write</title>
</head>

<body>
	<div class= "wrapper">
		<div class= "header"><h1 class= "centered">Administration Panel</h1></div>

		<div class= "word-content"><div class= "text-content">
			<%= button_to "Write a News Article", '/news/new', :method => 'get', :id => 'button' %>
			<%= button_to "Add a new Member", '/home/team_add', :method => 'get', :id => 'button' %>
			<%= button_to "Add a new Startup", '/companies/new', :method => 'get', :id => 'button' %>

		</div></div>
	</div>

</body>