<html>
<head>
	<title>DreamFunded | About</title>
</head>

<body><div class= "wrapper">
	<div class="header">
		<h1 class="centered">About</h1>
	</div>

	<p class="subtitle">Company Story:</p>
	<p class="paragraph">Manny Fernandez will never forget his first dream, to build a startup, and his second dream, to get funded. In his early entrepreneurial years, Fernandez spent countless hours seeking funding from investors, instead of focusing on his startup. Much later as an investor, he came to understand first hand how the majority of angel investors do not have access to quality startup investment opportunities.</p>
	<p class="paragraph">Meanwhile, Haas School of Business student Darnell Kemp became captivated with crowdfunding while studying under the same professor that coached the founders of Indiegogo. Kemp realized a gap in existing crowdfunding and a major opportunity to create a platform catering towards investors.</p>
	<p class="paragraph">With Kemp’s MIT background in computer science and product development and Fernandez’s experience and connections in the angel investing world, they knew that together they could a create a platform tailored to easily connecting investors with only the most promising startups.</p>
	<p class="subtitle">Mission:</p>
	<p class="paragraph">DreamFunded’s mission is to provide investors with a platform that enables simple, fast, and smart investing opportunities.</p>

	<p class="subtitle">Vision:</p>
	<p class="paragraph">DreamFunded’s vision is to fund dreams by connecting investors with quality startups that foster a powerful network, accommodating both sides of investing.</p>
</div>
</body>
</html>

