<html>
<head>
	<title>DreamFunded | About</title>
</head>

<body><div class= "wrapper">
	<div class="header">
		<h1 class="centered">About Us</h1>
	</div>
	<div class= "word-content"><div class= "text-content">
		<p class="subtitle darkblue">The DreamFunded Exchange is a private marketplace:</p>

		<p class="paragraph little-space">1) Employees can liquidate their Pre-IPO shares to cash.</p>
		<p style="margin-top: -10px;">&nbsp;-  Through our association with our legal partner, we developed a unique legal framework that guarantees your ability to sell your pre-IPO shares. </p>
		<p class="paragraph ">2) Where investors can gain access to pre-IPO shares. </p>

		<p class="subtitle darkblue">Background:</p>
		<p class="paragraph indent">In the last tech boom in 2000, the average time to IPO was 4 years.  As of last year, the average time to IPO was 11.  This trend in later stage funding rounds is placing tremendous strain on employees with equity in private, Pre-IPO companies.  Trends are changing, but employee compensation, and liquidity has not changed. So the DreamFunded team created a marketplace so shareholders can privately sell their shares to our community of investors. </p>
	</div></div>
</div>
</body>
</html>

