<html>
<head>
	<title>DreamFunded | About</title>
</head>

<body><div class= "wrapper">
	<div class="header">
		<h1 class="centered">About</h1>
	</div>
	<div class= "word-content"><div class= "text-content">
		<p class="subtitle darkblue">Company Story:</p>
		<p class="paragraph indent">Manny Fernandez will never forget his first dream, to build a startup, and his second dream, to get funded. In his early entrepreneurial years, Fernandez spent countless hours seeking funding from investors, instead of focusing on his startup. Much later as an investor, he came to understand first hand how the majority of angel investors do not have access to quality startup investment opportunities.</p>

		<p class="subtitle darkblue">Mission:</p>
		<p class="paragraph indent">DreamFunded’s mission is to provide investors with a platform that enables simple, fast, and smart investing opportunities.</p>

		<p class="subtitle darkblue">Vision:</p>
		<p class="paragraph indent">DreamFunded’s vision is to fund dreams by connecting investors with quality startups that foster a powerful network, accommodating both sides of investing.</p>
	</div></div>
</div>
</body>
</html>

