<html>
  <head>
    <title>DreamFunded | Book </title>
  </head>

  <body>
    <div class="header">
    <h2 class="centered">How to Make Money Investing in Pre-IPO Stocks</h2>
  </div>
    <div class= "word-content"><div class="text-content no-top-margin">

      <div class= "page">
        <div class= "art-text">
          <h2 class= "center darkblue title"></h2>

            <center>
              <%= image_tag "book.jpg", :class => "full-image" %>
            </center>

           <p class= "article faq-answer book-article">
            How to Make Money Investing in Pre-IPO Stocks: An Investors’ Guide to Building Wealth in Private Companies Build wealth like billionaire investor Chris Sacca by investing in Pre-IPO shares of private companies. How to Make Money Investing in Pre-IPO Stocks outlines the changing legal landscape that is creating an opportunity for every day investors to invest in private companies and profit. Between 2012 and 2015, Congress passed the JOBS Act and the FAST Act both of which outlined the rules and regulations on crowdfunding, making it easier for every day Americans to invest in private companies. SF Angel Investor of the Year and equity crowdfunding expert Manny Fernandez walks you through his investing strategies and shares how you can take advantage of them as well. Manny has spent the last five years focusing on the emerging opportunities created by equity crowdfunding, Pre-IPO investing, and wealth creation for the everyday investor. In this book you’ll learn: * How the legal landscape is changing to allow YOU to invest in Pre-IPO stocks. * Why investing in Pre-IPO stocks both boosts the economy and creates an opportunity for YOUR wealth creation. * How you can access Pre-IPO investment opportunities without being on Wall Street. * What steps you need to consider to get started. How to Make Money Investing in Pre-IPO Stocks: An Investors’ Guide to Building Wealth in Private Companies covers the legal, theoretical, and practical sides of investing in Pre-IPO stocks. Buy the book and get started today.
           </p>
        </div>
        <div><p class= "article darkblue centered article-overlfow"><%= link_to "Find Book on Amazon", "http://www.amazon.com/Make-Money-Investing-Pre-IPO-Stocks/dp/1530158915?ie=UTF8&keywords=how%20to%20make%20money%20investing%20on%20pre-ipo%20stocks&qid=1463529142&ref_=sr_1_fkmr0_1&sr=8-1-fkmr0", target: '_blank' %></p></div>
      </div>
    </div></div>
  </body>

</html>
