<html>
  <head>
    <% title "DreamFunded | Education " %>
  </head>

  <body>
    <div class= "wrapper">
      <div class="header">
        <h1 class="centered">Education</h1>
      </div>
      <div class= "word-content"><div class= "text-content">
        <h3 class= "question darkblue flip">The Basics</h3>
        <ul class='education-center-list'>
            <!-- <li>Getting Started With DreamFunded </li> -->
            <li>What is an Angel Investor? </li>
            <p class='panel'>
                An Angel investor is the title typically given to someone who invests in early stage startup companies.  Traditionally angel investors were high net worth individuals who invested $50K or more into each startup.  Today, anyone can be an angel investor with low investment minimums.
            </p>
            <li>What is CrowdFunding? </li>
            <p class='panel'>
                 &nbsp; &nbsp;Many people might not know this but crowdfunding has been around for years.  It is one of the oldest forms of raising money.  Crowdfunding, in its most basic form, is pooling money together from multipule sources for a common investment interest.  This style of fundraising has been a Wall Street favorite for hundreds of years.  However, CrowdFunding as we know it today has changed, it is no longer just a word of mouth process.
                <br><br>
                &nbsp; &nbsp;Thanks to technology, crowdfunding has moved online where people from all across the world can invest together in a myriad of different things.  Standard crowdfunding, without the equity component typically refers to platforms like Indiegogo and KickStarter, which are the most well-known online crowdfunding platforms in the United States.  These and other similar crowdfunding platforms raise money in the form of “donations” for all types of different things; from new products and companies, to social causes and public initiatives. These donations are often in return for some sort of “Perk”, such as a product or service, like a tee shirt, product prototype or event ticket.  Online crowdfunding does have limits, especially in the United States where investors, unless accredited are not allowed to invest in a company in exchange for equity in that company.  Meaning, if you go to Indiegogo or Kickstarter, you will only be able to “donate” money in return for various perks from the company, such as a tee shirt or product.  This is where equity crowdfunding takes over.
            </p>
            <li>What is Equity CrowdFunding? </li>
            <p class='panel'>
                 &nbsp; &nbsp;You might have heard the term “Equity crowdfunding” at some point in the past few years.  You might be wondering how it differs from traditional crowdfunding. Simply put, investors participating in equity crowdfunding offerings are actually investing in return for an equity ownership stake in the offering company.  An easy way to remember the difference is equity crowdfunding is for actual equity and standard crowdfunding is not. <br><br>

                &nbsp; &nbsp;The term equity crowdfunding is the hottest term and most controversial subject in the investment world at the moment.  Unfortunately for 99% of Americans, participating in equity crowdfunding has been out of the realm of possibility because of SEC regulations, which mandated that investors must be an “Accredited Investor”.

            </p>
            <li>What is an Accredited Investor? </li>
            <p class='panel'>An “Accredited Investor” is an SEC classification for high net worth individuals.  An accredited investor must meet one of the     following requirements in each of the last 2 years and expected in the current year;<br>1. Earn an annual income of $200,000 or more if you are filling as single.<br>2. Earn an annual income of 300,000 or more if you are filing as married.<br>3. Be investing on behalf of an institution, fund or family office.</p>

            <li>What is a Difference Between a Primary and Secondary Investment? </li>
        </ul>

        <h3 class= "question darkblue flip">Investing Tips, Strategies & Trends</h3>
        <ul class='education-center-list'>
            <li>Why Invest in Private, not Public Companies? </li>
            <p class='panel'>Private tech companies are going IPO later than ever before.  In the last tech boom in 2000, the average time for a private company to go IPO was 4 years.  Now that average time is 11 years.  This means that the biggest returns, which used to be earned in the public markets have now shifted to private. </p>

            <li>Tips for Succesfull Angel Investing </li>
            <p class='panel'>  - Kauffman Foundation Study<br>
            The Kauffman Foundation did a study on “Returns to angels in angel groups”.  What they found is that successful angel investors are invested into a portfolio of angel investments, 20+. <br>
            - Portfolio<br>
            - Vetting
            </p>

            <li>New Trend: Push to Later Stage Funding Rounds (Delaying IPO) </li>
            <li>Building a Strong Investment Portfolio </li>
            <li>Proper Company Vetting & Due Diligence </li>
        </ul>

        <h3 class= "question darkblue flip">Rules & Regulations</h3>
        <ul class='education-center-list'>
            <li>Important Terms </li>
            <li>New Trend: push to later stage funding rounds </li>
            <li>Investment Portfolio </li>
            <li>Proper Vetting </li>
        </ul>

        <h3 class= "question darkblue flip">Important Terms  </h3>
        <ul class='education-center-list'>
            <li>Accredited Investor </li>
            <li>Angel Group </li>
            <p class='panel'>An angel group is an organized group of angel investors who find, research and invest startup companies. Annual membership fees for a typical angel group are around $3- $5,000.  The average check size for most angel investors is $25-50K per investment.  </p>

            <li>Cap (Convertible Note)</li>
            <li>Cap Table </li>
            <li>Common Stock </li>
            <li>Convertibe Note </li>
            <li>Due Diligence </li>
            <li>Fund</li>
            <li>Interest (Convertible Note)</li>
            <li>IRR </li>
            <li>Non-Accredited Investor </li>
            <li>Preferred Stock </li>
            <li>Pro Rata Rights</li>
            <li>SEC (Security Exchange Comission)</li>
            <li>Seed Round</li>
            <li>Valuation</li>
            <li>Venture Round (Series A, B, C...)</li>
            <li>Venture Capital Firm</li>
             <p class='panel'>Insider access to pre-screened deals is a major benefit. We utilize our network to gain access to promising startups. We thoroughly vet startups prior to featuring them on our platform. Another benefit of our platform is the opportunity to invest as little as $1,000. Angel investors typically need at least 25 lifetime deals to adequately reduce the risk of this asset class. DreamFunded allows you to easily build a larger and subsequently stronger portfolio.</p>

            <li>Vesting</li> <p class='panel'>Insider access to pre-screened deals is a major benefit. We utilize our network to gain access to promising startups. We thoroughly vet startups prior to featuring them on our platform. Another benefit of our platform is the opportunity to invest as little as $1,000. Angel investors typically need at least 25 lifetime deals to adequately reduce the risk of this asset class. DreamFunded allows you to easily build a larger and subsequently stronger portfolio.</p>

            <li>Vetting</li>
             <p class='panel'>Insider access to pre-screened deals is a major benefit. We utilize our network to gain access to promising startups. We thoroughly vet startups prior to featuring them on our platform. Another benefit of our platform is the opportunity to invest as little as $1,000. Angel investors typically need at least 25 lifetime deals to adequately reduce the risk of this asset class. DreamFunded allows you to easily build a larger and subsequently stronger portfolio.</p>
        </ul>

        <p class='panel'>Becoming a member of DreamFunded is easy and free! Setting up an account simply entails creating a password, providing your contact information, and self-certifying that you are an accredited investor. The registration process involves answering a brief series of questions.</p>
        <br>


        <br><br><br>

        <div class= "centered twenty">
          <%= button_to "Get Started", {:action => 'get_started'}, {:id => 'push'} %>
        </div>

      </div></div>
    </div>
  </body>

</html>
<script>
$(document).ready(function(){
    $(".education-center-list li").click(function(){
        $(this).toggleClass('open');
        if($(this).hasClass('open') ){
            $(this).next().slideDown("slow");
        }else{
            $(this).next().slideUp("slow");
        }
    });
});
</script>
