<html>
  <head>
    <% title "DreamFunded | Education " %>
  </head>

  <body>
    <div class= "wrapper">
      <div class="header education-center">
        <div class='education-title'><%=link_to "Education Center", education_path%></div>
        <a href="#" class='education-links'>All Education</a> <%= fa_icon "chevron-right"%> <a href="#" class='education-links'>The Basics</a>
      </div>

      <div class= "word-content"><div class= "text-content">

      <div class='education-slogan'>
        <div><p class= "faq-answer centered"><strong>Research has shown that education is a critical factor in making successful angel investment decisions.</strong></p></div>
        <div><p class= "faq-answer centered">Browse our education center to become an informed angel investor.</p></div>
      </div>
      <br>
      <center>

        <% if user_session != nil && user_session.authority >= authority[:Accredited] %>
          <button class='education-button' onclick= "invest()">Get Started</button>
        <% elsif user_session == nil %>
          <button class='education-button' onclick= "signUp()">Get Started</button>
        <% end %>
      </center>

        <%#= button_to "Get Started", {:action => 'get_started'}, {:id => 'push'} %>
    </div>

      <div class= "for-investors-container">
        <div class= "category-container">
          <div class='for-investors'>
              <h2 class=' education-category darkblue'>For Investors</h2>
          </div>

          <div class='for-investors'>
              <h2 class=' education-category darkblue'>For Employees</h2>
          </div>
        </div>

      <div class='for-investors right-line'>
        <ul class='for-investors-list style="margin-left: 25%;"'>

          <li class='for-investors-list-item'><a href="/education/basics">The Basics</a></li>
          <li class='for-investors-list-item'><a href="/education/investing-tips">Investing Tips & Strategies</a></li>
          <li class='for-investors-list-item'><a href="/education/taxes-gains">Taxes & Gains</a></li>
          <li class='for-investors-list-item'><a href="/education/investor-qa">Q&A</a></li>
          <li class='for-investors-list-item'><a href="/education/important-terms">Important Terms</a></li>
        </ul>
      </div>


      <div class='for-investors'>
        <ul class='for-investors-list'>

          <li class='for-investors-list-item'><a href="/education/basics">The Basics</a></li>
          <!-- <li class='for-investors-list-item'><a href="/education/market_trends">Market Trends</a></li> -->
          <li class='for-investors-list-item'><a href="/education/employee-qa">Q&A</a></li>
        </ul>
      </div>
    </div>
<!--       <div class= "left-panel">
        <ul class='education-menu'>
            <a href='/education/basics'><li class='education-item '>The Basics</li></a>
            <a href='/education/investing-tips'><li class='education-item'>Investing Tips & Strategies</li></a>
            <a href='/education/rules-regulations'><li class='education-item'>Rules & Regulations</li></a>
            <a href='/education/important-terms'><li class='education-item'>Investment Terms</li></a>
            <a href='/education/taxes-gains'><li class='education-item'>Taxes & Gains</li></a>

        </ul>
      </div>
 --><!--       <div class= "left-panel">
        <ul class='education-menu'>
            <a href='/education/basics'><li class='education-item '>The Basics</li></a>
            <a href='/education/investing-tips'><li class='education-item'>Investing Tips & Strategies</li></a>
            <a href='/education/rules-regulations'><li class='education-item'>Rules & Regulations</li></a>

        </ul>
      </div> -->
<!--       <div class= "right-panel word-content">
        <div class= "text-content">
            <center>
              <iframe  class='youtube-video' src="https://www.youtube.com/embed/oJNlRr32YC8" frameborder="0" allowfullscreen ></iframe>
            </center>

            <br><br><br>

            <div class= "centered twenty">
              <%#= button_to "Get Started", {:action => 'get_started'}, {:id => 'push'} %>
            </div>

        </div>
      </div> -->
    </div>
    </div></div>
  </body>

</html>
<script>
$(document).ready(function(){
    $(".education-center-list li").click(function(){
        $(this).toggleClass('open');
        if($(this).hasClass('open') ){
            $(this).next().slideDown("slow");
        }else{
            $(this).next().slideUp("slow");
        }
    });
});
</script>
