<html>
  <head>
    <% title "DreamFunded | Education " %>
  </head>

  <body>
    <div class= "wrapper">
      <div class="header">
        <h1 class="centered">Education</h1>
      </div>
      <div class= "word-content"><div class= "text-content">
        <h3 class= "question darkblue flip">The Basics</h3>
        <ul class='education-center-list'>
            <!-- <li>Getting Started With DreamFunded </li> -->
            <li>What is an Angel Investor? </li>
            <p class='panel'>
                An Angel investor is the title typically given to someone who invests in early stage startup companies.  Traditionally angel investors were high net worth individuals who invested $50K or more into each startup.
            </p>
            <li>What is CrowdFunding? </li>
            <p class='panel'>
                 &nbsp; &nbsp;Many people might not know this but crowdfunding has been around for years.  It is one of the oldest forms of raising money.  Crowdfunding, in its most basic form, is pooling money together from multipule sources for a common investment interest.  This style of fundraising has been a Wall Street favorite for hundreds of years.  However, CrowdFunding as we know it today has changed, it is no longer just a word of mouth process.
                <br><br>
                &nbsp; &nbsp;Thanks to technology, crowdfunding has moved online where people from all across the world can invest together in a myriad of different things.  Standard crowdfunding, without the equity component typically refers to platforms like Indiegogo and KickStarter, which are the most well-known online crowdfunding platforms in the United States.  These and other similar crowdfunding platforms raise money in the form of “donations” for all types of different things; from new products and companies, to social causes and public initiatives. These donations are often in return for some sort of “Perk”, such as a product or service, like a tee shirt, product prototype or event ticket.  Online crowdfunding does have limits, especially in the United States where investors, unless accredited are not allowed to invest in a company in exchange for equity in that company.  Meaning, if you go to Indiegogo or Kickstarter, you will only be able to “donate” money in return for various perks from the company, such as a tee shirt or product.  This is where equity crowdfunding takes over.
            </p>
            <li>What is Equity CrowdFunding? </li>
            <p class='panel'>
                 &nbsp; &nbsp;You might have heard the term “Equity crowdfunding” at some point in the past few years.  You might be wondering how it differs from traditional crowdfunding. Simply put, investors participating in equity crowdfunding offerings are actually investing in return for an equity ownership stake in the offering company.  An easy way to remember the difference is equity crowdfunding is for actual equity and standard crowdfunding is not. <br><br>

                &nbsp; &nbsp;The term equity crowdfunding is the hottest term and most controversial subject in the investment world at the moment.  Unfortunately for 99% of Americans, participating in equity crowdfunding has been out of the realm of possibility because of SEC regulations, which mandated that investors must be an “Accredited Investor”.

            </p>
            <li>What is an Accredited Investor? </li>
            <p class='panel'>An “Accredited Investor” is an SEC classification for high net worth individuals.  An accredited investor must meet one of the     following requirements in each of the last 2 years and expected in the current year;<br>1. Earn an annual income of $200,000 or more if you are filling as single.<br>2. Earn an annual income of 300,000 or more if you are filing as married.<br>3. Be investing on behalf of an institution, fund or family office.</p>

            <li>What is a Difference Between a Primary and Secondary Investment? </li>
            <p class='panel'>Lorem ipsum dolor sit amet, id quo congue nullam, wisi debet ocurreret ea vel, bonorum consetetur mei ei. Adhuc postulant percipitur cu cum, nec in rebum mazim quando. Ei sea tale munere quaerendum. Te sit case quidam eligendi, ei vix placerat inciderint contentiones, causae aeterno facilisi ut ius. Qui eu ocurreret deseruisse. Amet viderer ceteros ei cum, posse impetus ius no.Enim equidem ius an. Timeam maluisset cu est, id fugit animal feugait pri, splendide voluptaria vis ea. Sit et primis senserit, discere platonem mel ea. Consul verear pertinax duo ea, eos ad equidem consectetuer. Sea dissentiunt voluptatibus ex.</p>
        </ul>

        <h3 class= "question darkblue flip">Investing Tips, Strategies & Trends</h3>
        <ul class='education-center-list'>
            <li>Why Invest in Private, not Public Companies? </li>
            <p class='panel'>Private tech companies are going IPO later than ever before.  In the last tech boom in 2000, the average time for a private company to go IPO was 4 years.  Now that average time is 11 years.  This means that the biggest returns, which used to be earned in the public markets have now shifted to private. </p>

            <li>Tips for Succesfull Angel Investing </li>
            <p class='panel'>  - Kauffman Foundation Study<br>
            The Kauffman Foundation did a study on “Returns to angels in angel groups”.  What they found is that successful angel investors are invested into a portfolio of angel investments, 20+. <br>
            - Portfolio<br>
            - Vetting
            </p>

            <li>New Trend: Push to Later Stage Funding Rounds (Delaying IPO) </li><p class='panel'>Lorem ipsum dolor sit amet, id quo congue nullam, wisi debet ocurreret ea vel, bonorum consetetur mei ei. Adhuc postulant percipitur cu cum, nec in rebum mazim quando. Ei sea tale munere quaerendum. Te sit case quidam eligendi, ei vix placerat inciderint contentiones, causae aeterno facilisi ut ius. Qui eu ocurreret deseruisse. Amet viderer ceteros ei cum, posse impetus ius no.Enim equidem ius an. Timeam maluisset cu est, id fugit animal feugait pri, splendide voluptaria vis ea. Sit et primis senserit, discere platonem mel ea. Consul verear pertinax duo ea, eos ad equidem consectetuer. Sea dissentiunt voluptatibus ex.</p>

            <li>Building a Strong Investment Portfolio </li>
            <p class='panel'>Lorem ipsum dolor sit amet, id quo congue nullam, wisi debet ocurreret ea vel, bonorum consetetur mei ei. Adhuc postulant percipitur cu cum, nec in rebum mazim quando. Ei sea tale munere quaerendum. Te sit case quidam eligendi, ei vix placerat inciderint contentiones, causae aeterno facilisi ut ius. Qui eu ocurreret deseruisse. Amet viderer ceteros ei cum, posse impetus ius no.Enim equidem ius an. Timeam maluisset cu est, id fugit animal feugait pri, splendide voluptaria vis ea. Sit et primis senserit, discere platonem mel ea. Consul verear pertinax duo ea, eos ad equidem consectetuer. Sea dissentiunt voluptatibus ex.</p>

            <li>Proper Company Vetting & Due Diligence </li>
            <p class='panel'>Lorem ipsum dolor sit amet, id quo congue nullam, wisi debet ocurreret ea vel, bonorum consetetur mei ei. Adhuc postulant percipitur cu cum, nec in rebum mazim quando. Ei sea tale munere quaerendum. Te sit case quidam eligendi, ei vix placerat inciderint contentiones, causae aeterno facilisi ut ius. Qui eu ocurreret deseruisse. Amet viderer ceteros ei cum, posse impetus ius no.Enim equidem ius an. Timeam maluisset cu est, id fugit animal feugait pri, splendide voluptaria vis ea. Sit et primis senserit, discere platonem mel ea. Consul verear pertinax duo ea, eos ad equidem consectetuer. Sea dissentiunt voluptatibus ex.</p>
        </ul>

        <h3 class= "question darkblue flip">Rules & Regulations</h3>
        <ul class='education-center-list'>
            <li>Important Terms </li>
            <p class='panel'>Lorem ipsum dolor sit amet, id quo congue nullam, wisi debet ocurreret ea vel, bonorum consetetur mei ei. Adhuc postulant percipitur cu cum, nec in rebum mazim quando. Ei sea tale munere quaerendum. Te sit case quidam eligendi, ei vix placerat inciderint contentiones, causae aeterno facilisi ut ius. Qui eu ocurreret deseruisse. Amet viderer ceteros ei cum, posse impetus ius no.Enim equidem ius an. Timeam maluisset cu est, id fugit animal feugait pri, splendide voluptaria vis ea. Sit et primis senserit, discere platonem mel ea. Consul verear pertinax duo ea, eos ad equidem consectetuer. Sea dissentiunt voluptatibus ex.</p>

            <li>New Trend: push to later stage funding rounds </li>
            <p class='panel'>In the last tech boom in 2000, the average time to IPO was 4 years. As of last year, the average time to IPO was 11. This trend in later stage funding rounds is placing tremendous strain on employees with equity in private, Pre-IPO companies. Trends are changing, but employee compensation, and liquidity has not changed. So the DreamFunded team created a marketplace so shareholders can privately sell their shares to our community of investors.</p>

            <li>Investment Portfolio </li>
            <p class='panel'>Lorem ipsum dolor sit amet, id quo congue nullam, wisi debet ocurreret ea vel, bonorum consetetur mei ei. Adhuc postulant percipitur cu cum, nec in rebum mazim quando. Ei sea tale munere quaerendum. Te sit case quidam eligendi, ei vix placerat inciderint contentiones, causae aeterno facilisi ut ius. Qui eu ocurreret deseruisse. Amet viderer ceteros ei cum, posse impetus ius no.Enim equidem ius an. Timeam maluisset cu est, id fugit animal feugait pri, splendide voluptaria vis ea. Sit et primis senserit, discere platonem mel ea. Consul verear pertinax duo ea, eos ad equidem consectetuer. Sea dissentiunt voluptatibus ex.</p>

            <li>Proper Vetting </li>
            <p class='panel'>Lorem ipsum dolor sit amet, id quo congue nullam, wisi debet ocurreret ea vel, bonorum consetetur mei ei. Adhuc postulant percipitur cu cum, nec in rebum mazim quando. Ei sea tale munere quaerendum. Te sit case quidam eligendi, ei vix placerat inciderint contentiones, causae aeterno facilisi ut ius. Qui eu ocurreret deseruisse. Amet viderer ceteros ei cum, posse impetus ius no.Enim equidem ius an. Timeam maluisset cu est, id fugit animal feugait pri, splendide voluptaria vis ea. Sit et primis senserit, discere platonem mel ea. Consul verear pertinax duo ea, eos ad equidem consectetuer. Sea dissentiunt voluptatibus ex.</p>
        </ul>

        <h3 class= "question darkblue flip">Important Terms  </h3>
        <ul class='education-center-list'>
            <li>Accredited Investor </li>
            <p class='panel'>- Accredited Investor: An “Accredited Investor” is an SEC classification for high net worth individuals.  An accredited investor must meet one of the following requirements in each of the last 2 years and expected in the current year;<br>1. Earn an annual income of $200,000 or more if you are filling as single.<br>2. Earn an annual income of 300,000 or more if you are filing as married.<br>3. Be investing on behalf of an institution, fund or family office.
            </p>

            <li>Angel Group </li>
            <p class='panel'>An angel group is an organized group of angel investors who find, research and invest startup companies. Annual membership fees for a typical angel group are around $3- $5,000.  The average check size for most angel investors is $25-50K per investment. </p>

            <li>Cap (Convertible Note)</li>
            <p class='panel'> Cap (Convertible Note):  The cap on a convertible note sets a maximum valuation amount at which an investment made can convert into equity. Typically investors get the lesser of the next qualified pricing round.  Ex: If the cap on a note is $7 million and the next round is priced at $10 million pre-money valuation, the convertible note will convert at $7 million.  If the cap on the note is $7 million and the next round is priced at $5 million, the convertible note will convert at $5 million.</p>

            <li>Cap Table </li>
            <p class='panel'>Cap Table: A capitalization table is a table that provides an analysis of the founders and investors’ percentage of ownership, equity dilution and value of equity in each round of investment.</p>

            <li>Common Stock </li>
            <p class='panel'>A security that represents ownership in the company.  Common stock holders are on the bottom of the priority ladder for ownership structure. </p>

            <li>Convertibe Note </li>
            <p class='panel'>Convertible notes are often offered to angel investors by startups who wish to raise funding without establishing a specific valuation for the company. Convertible notes are structured as loans at the time an investor makes an investment.  The outstanding balance on the loan is converted into equity shares once the company is valuated during a Series- A valuation round.  </p>

            <li>Due Diligence </li>
            <p class='panel'>The Angel Capital Association (ACA) defines Due diligence in the venture industry as the investigation and analysis the investor performs to see if an investment opportunity meets the investor’s criteria for funding. For angels as well as venture capitalists, the primary objective of due diligence is to mitigate investment risk by gaining an understanding of a company and its business as well as determining the suitability of the investment for the portfolio. </p>

            <li>Fund</li>
            <p class='panel'>A unique SPV in the form of an LLC that owns equity in a specific company.  A specific fund is setup by DreamFunded for each individual investment.</p>

            <li>Interest (Convertible Note)</li>
            <p class='panel'>Since each convertible note is essentially a loan from an angel investor to a startup company, there is an interest rate on the loan which is paid back at the end of the loan period.  The loan amount will convert along with the interest into equity when the company is valuated.</p>

            <li>IRR </li>
            <p class='panel'>(Internal rate of return) A measurement used to determine the profitability of an investment.</p>

            <li>Non-Accredited Investor </li>
            <p class='panel'>An investor that does not fall within the SEC requirements to be an accredited investor (See Accredited Investor)</p>

            <li>Portfolio Company </li>
            <p class='panel'>One of the companies DreamFunded has had as an investment on the platform.</p>

            <li>Preferred Stock </li>
            <p class='panel'>A class of ownership in a company that has a preferential claim on its assets and earnings over that of common stock.</p>

            <li>Pro Rata Rights</li>
            <p class='panel'>Pro Rata Rights give investors the right to buy back in at a later investment round to keep their original ownership percentage amount in the company the same.</p>

            <li>SEC (Security Exchange Comission)</li>
            <p class='panel'>The governing body responsible for enforcing securities laws in the United States of America.</p>

            <li>Seed Round</li>
            <p class='panel'>Typically a startup company's first round of funding.  The seed round comes before the Series-A valuation round and before the company has a true valuation. A seed round in the Silicon Valley is typically done with a convertible note that converts to equity after Series-A.</p>

            <li>Valuation</li>
            <p class='panel'>Valuation is essentially the value of your company at any given stage of funding.  It is the price at which you should be able to sell your company for on the market.  From a startup perspective, it determines the amount of money you will receive from an investor in return for what ownership percentage.</p>

            <li>Venture Capital Firm</li>
            <p class='panel'>Also known as VC firm, a Venture Capital firm is a group of investors (Limited Partners) who pool money together to invest into private companies.  The Limited partners are represented by the General Partner, who also makes the investment decisions on the fund.  Some of the wealthiest individuals in the world are partners at VC firms in Silicon Valley.</p>

            <li>Vesting</li>
            <p class='panel'>The process by which an employee accrues ownership of stock in a company.  The usual terms in the Silicon Valley are a 4 year vesting cycle with a 1 year cliff.  4 year vesting means the employee will be vesting stock until the 4th year when they will have earned all their stock options.  The 1 year cliff means that the employee will not start accruing stock ownership unless they have been working at the company for at least 1 year.  This prevents the employee from leaving abruptly within the first year and leaving with stock options in the company. At the end of the vesting term, the employee has the right to purchase all the vested stock from the company at a discount.  A more aggressive vesting schedule is typically given in lieu of a higher salary.</p>

            <li>Vetting</li>
             <p class='panel'>A screening process that an investor (usually angel group or VC firm) goes through to determine whether or not a startup has what it takes to become successful down the road.  There is no formula to determine whether a startup company will be successful or not ,but proper vetting can make a big difference in determining the sustainability of a startup.  Vetting is measured by hours of due diligence performed on a startup company.  The more hours of due diligence performed, the better the vetting.</p>
        </ul>




        <br><br><br>

        <div class= "centered twenty">
          <%= button_to "Get Started", {:action => 'get_started'}, {:id => 'push'} %>
        </div>

      </div></div>
    </div>
  </body>

</html>
<script>
$(document).ready(function(){
    $(".education-center-list li").click(function(){
        $(this).toggleClass('open');
        if($(this).hasClass('open') ){
            $(this).next().slideDown("slow");
        }else{
            $(this).next().slideUp("slow");
        }
    });
});
</script>
