<html>
  <head>
    <% title "DreamFunded | Education " %>
  </head>

  <body>
    <div class= "wrapper">
      <div class="header">
        <h1 class="centered">Education Center</h1>
      </div>
      <div class= "left-panel">
        <ul class='education-menu'>
            <a href='/education/basics'><li class='education-item '>The Basics</li></a>
            <a href='/education/investing-tips'><li class='education-item'>Investing Tips & Strategies</li></a>
            <!-- <a href='/education/rules-regulations'><li class='education-item'>Rules & Regulations</li></a> -->
            <a href='/education/important-terms'><li class='education-item'>Important Terms</li></a>
            <a href='/education/taxes-gains'><li class='education-item'>Taxes & Gains</li></a>
            <a href='/education/investro-qa'><li class='education-item'>Investor Q&A</li></a>
        </ul>
      </div>
      <div class= "right-panel word-content">
        <div class= "text-content">
            <center>
              <iframe  class='youtube-video' src="https://www.youtube.com/embed/oJNlRr32YC8" frameborder="0" allowfullscreen ></iframe>
            </center>

            <br><br><br>

            <div class= "centered twenty">
              <%= button_to "Get Started", {:action => 'get_started'}, {:id => 'push'} %>
            </div>

        </div>
      </div>
    </div>
  </body>

</html>
<script>
$(document).ready(function(){
    $(".education-center-list li").click(function(){
        $(this).toggleClass('open');
        if($(this).hasClass('open') ){
            $(this).next().slideDown("slow");
        }else{
            $(this).next().slideUp("slow");
        }
    });
});
</script>
