<% title "DreamFunded | Sell Shares" %>
<div class= "wrapper">
  <div class="header">
    <h1 class="centered">DreamFunded Exchange</h1>
  </div>

  <div class= "word-content">
    <div class= "text-content marging-top-30">
      <div class= "centered twenty">
        <div>
          <%= link_to "Liquidate Now", {:action => 'liquidate'}, {method: 'get', :id => 'push', class: 'link-button'} %>
        </div>
      </div>
      <br>
      <p class="subtitle darkblue">Shareholders</p>
    <div class= "faq-answer">
        <p class="paragraph indent">&#10095;&nbsp; <span class='underline'>Cash For Your Shares:</span>  Your equity is no longer illiquid. We are a quick and easy way for you to get cash for your employee shares.  You no longer have to wait up to 11 years for your company to go IPO before you can cash out.  Unlock Your Net Worth!</p>

        <p class="paragraph indent">&#10095;&nbsp; <span class='underline'>Liquidity:</span> Has the value of your stock gone up?  Waiting for your company to go IPO to cash out?  Waiting for a company to go public can feel like a lifetime.  Liquidate your equity investment at anytime on the DreamFunded platform.</p>

        <p class="paragraph indent">&#10095;&nbsp; <span class='underline'>Approval:</span> DreamFunded has pioneered a way to guarantee your ability to sell your company shares without the need for a ROFR (Right of First Refusal).</p>
    </div>

      <br><p class="subtitle darkblue">Investors: Unlock Your Net Worth</p>
    <div class= "faq-answer">
        <p class="paragraph indent">&#10095;&nbsp; <span class='underline'>Diversify:</span>  Diversify your portfolio with promising, later stage investments in proven tech companies.  This spreads out your risk and provides a nest egg for the future.

        <p class="paragraph indent">&#10095;&nbsp; <span class='underline'>Access:</span>  Investments in proven, pre-IPO companies have historically been reserved for only the institutional and wealthiest investors.  Not any more. DreamFunded brings you investment opportunities that you were only able to read about in the past.  The “Unicorn” companies are now open to investment by the masses.

        <p class="paragraph indent">&#10095;&nbsp; <span class='underline'>Liquidity:</span> Has the value of your stock gone up?  Waiting for your company to go IPO to cash out?  Waiting for a company to go public can feel like a lifetime.  Liquidate your equity investment at anytime on the DreamFunded platform.</p>
    </div>


    <br><br><br>

    <div class= "centered twenty">
        <div><%= link_to "Liquidate Now", {:action => 'liquidate'}, {method: 'get', :id => 'push', class: 'link-button'} %></div>
    </div>

  </div></div>
</div>
