<div class= "wrapper">
  <div class="header">
    <h1 class="centered">DreamFunded Exchange</h1>
  </div>
  <div class= "word-content"><div class= "text-content">
    <p class="subtitle darkblue">How we help</p>
    <p class="paragraph indent">We work with pre-IPO companies and their employees who may want some liquidity – cash to finance life events.<br>
    The DreamFunded marketplace gives investors access to these pre-IPO shares, for as low as $5,000. Upon the tech company’s approval we list, market, and handle the paperwork for trading these shares. Before DreamFunded, you’d have to wait until one of these companies IPO’d, and by that time you’d probably have to pay 20 times the valuation. Through DreamFunded we open up investment opportunities so investors won’t feel left out of the next big IPO.</p>

    <p class="subtitle darkblue">Tech employees that want cash now</p>
    <p class="paragraph indent">You have value in options and stock in a well developed tech company. We have investors lined up to help you cash out some of your options and stocks. </p>

    <p class="subtitle darkblue">Early Investors</p>
    <p class="paragraph indent">We understand that you may need or desire liquidity before your portfolio company exits.</p>

    <br><br><br>

    <div class= "centered twenty">
      <%= button_to "Liquidate Now", {:action => 'liquidate'}, method: 'get', :id => 'push' %>
    </div>
  </div></div>
</div>
