<html>
	<head>
		<title>DreamFunded | FAQs </title>
	</head>

	<body>
		<div class= "wrapper">
			<div class="header">
				<h1 class="centered">Frequently Asked Questions</h1>
			</div>
			<div class= "word-content"><div class= "text-content">
				<h3 class= "question darkblue">Is it difficult and expensive to join DreamFunded?</h3>
				<hr>
				<p>Becoming a member of DreamFunded is easy and free! Setting up an account simply entails creating a password, providing your contact information, and self-certifying that you are an accredited investor. The registration process involves answering a brief series of questions.</p>
				<br>

				<h3 class= "question darkblue">What are the main benefits of investing with the DreamFunded Platform?</h3>
				<hr>
				<p>Insider access to pre-screened deals is a major benefit. We utilize our network to gain access to promising startups. We thoroughly vet startups prior to featuring them on our platform. Another benefit of our platform is the opportunity to invest as little as $1,000. Angel investors typically need at least 25 lifetime deals to adequately reduce the risk of this asset class. DreamFunded allows you to easily build a larger and subsequently stronger portfolio.</p>
				<br>

				<h3 class= "question darkblue">Why would experienced angels invest through DreamFunded?</h3>
				<hr>
				<p>One key to success in startup investing is diversification, which means investing in as many as 25 companies in a lifetime. Diversification and sufficient due diligence are the two most important tactics for reducing risk in this asset class. By providing many investment opportunities in vetted deals with small investment minimums, DreamFunded provides experienced angels with the opportunity to quickly expand their portfolios and achieve best practice diversification.</p>
				<br>

				<h3 class= "question darkblue">Why would existing angel groups partner with DreamFunded?</h3>
				<hr>
				<p>DreamFunded offers existing angel groups two benefits. (1) DreamFunded members will be “topping off” rounds of investments that may exceed the investing capacity of a single angel group. (2) Entrepreneurs usually require multiple rounds of investment to achieve positive cash flow or exit. Angel groups have found that recruiting more investors in early rounds provides a larger base for follow-on investments in startups.</p>
				<br>

				<h3 class= "question darkblue">How are the deals selected for the DreamFunded platform?</h3>
				<hr>
				<p>The Kauffman Foundation’s Wiltbank study showed that deals on which angels devote 40 or more hours of vetting provided seven times greater returns over deals on which angels spend 20 hours or less of due diligence. DreamFunded has chosen to partner with selected angel groups and VCs who devote the appropriate time to due diligence on each deal and are willing to share their documentation.</p>
				<p>Due diligence consists of: interviews and background checks on all company team members, validation of market size and customer acceptance, evaluation of product and technology, analysis of the competitive environment, and assurance that terms of investments meet exact standards.</p>
				<p>DreamFunded has recruited a world-class investment committee to review the due diligence previously completed by angel groups and VC partners to assure each deal meets DreamFunded standards for anticipated investment performance.</p>
				<br>

				<h3 class= "question darkblue">Is DreamFunded focused only on seed stage startups?</h3>
				<hr>
				<p>No, the DreamFunded investment committees will consider investment opportunities at all stages of startup development. However, we anticipate that most of our partners will be seeking syndication with DreamFunded for early stage companies.</p>
				<br>

				<h3 class= "question darkblue">Can I invest from my IRA in DreamFunded opportunities?</h3>
				<hr>
				<p>Yes, IRA funds can be used to invest in DreamFunded startups.</p>
				<br>

				<h3 class= "question darkblue">How does DreamFunded make money?</h3>
				<hr>
				<p>DreamFunded creates a separate single-purpose entity (an LLC) to invest in each of the companies listed on the platform. All investments from members will be made through this single-purpose entity. Once a company has reached its investment goal, DreamFunded will withdraw 10% from the total funds collected for each company, for administering the LLC and providing annual K-1s to its members. LLC documents will stipulate a carried interest of 20% of the total gains for DreamFunded, Inc.</p>
				<br>

				<h3 class= "question darkblue">Do members of DreamFunded have to be accredited?</h3>
				<hr>
				<p>Yes, DreamFunded membership is limited by our charter to accredited investors only. Defined by the SEC, you are an accredited investor if your income for each of the last two years exceeds $200,000 per year, or $300,000 per year combined with your spouse. Alternately, your net worth, excluding your primary residence, must exceed $1 million.</p>
				<br><br><br>

				<div class= "centered twenty">
					<%= button_to "Get Started", {:action => 'get_started'}, {:id => 'push'} %>
				</div>

			</div></div>
		</div>
	</body>

</html>