



<html>
	<head>
		<title>DreamFunded | Our Team</title>
	</head>

	<body><div class= "wrapper">
		<% file_name = @team.file_name %>
		<%= image_tag "#{file_name}" %>
		<p> <%= @team.name %> </p>
		<p> <%= @team.fullbio %> </p>
	</div>
	</body>

 </html>

