<div class= "wrapper"><div class= "box signin-box ">

  <div class="row">
    <div class="active">
      <br>
      <div class='liquidate-info'>
       Thank you for your interest. We will review your information and be in contact within 24-48 hours. </div><br>
    </div>
  </div>



</div>
