<html>
  <head>
    <% title "DreamFunded | FAQs " %>
  </head>

  <body>
    <div class= "wrapper">
      <div class="header">
        <h1 class="centered">How It Works</h1>
      </div>
      <div class= "word-content"><div class= "text-content">

          <!-- <h2 class= "darkblue centered">Equity Crowdfunding</h2><br> -->
          <h2 class= "darkblue centered">   </h2><br>
          <h2 class= "darkblue centered"> What is Equity Crowdfunding?  </h2><br>
          <!-- <p class= "faq-answer"><strong> </strong></p> -->

          <p class= "faq-answer">
            Equity crowdfunding has recently become the most efficient way to raise money from people all over the world. There are two main types of crowdfunding: <u>Equity-based CrowdFunding</u>, in which investors receive equity ownership in the company, and <u>Rewards-Based CrowdFunding</u>, where individuals donate money to a project or company usually in exchange for perks, such as tickets or non-monetary rewards. DreamFunded is an equity crowdfunding platform, which enables investors to receive company equity in return for investment capital.</p><br>

            <h2 class= "darkblue centered"> Who We Are:  </h2></br>


          <p class= "faq-answer"><u>Manny Fernandez</u>, the co-founder and CEO of DreamFunded, is a Silicon Valley angel investor, angel group founder, serial entrepreneur and keynote speaker. He has been successful leading his own ventures as well as advising other startups on their paths to success. Fernandez won the Equity Crowdfunding Leadership Award in 2014 for his co-founding DreamFunded. He had previously founded SF Angels Group in San Francisco, and he has been an investor with TiE Angels since 2012. Fernandez was just named in Inc. Magazine’s list of the top 33 entrepreneurs to watch in 2016 and was named 2014 SF Angel Investor of the Year. He is the 14th most followed Angel Investor on Twitter, with over 100,000 followers.
          </p>

          <p class= "faq-answer">
            An international keynote speaker, frequent judge and panelist for startup demo days, Bay Area corporations, colleges and universities, Fernandez has been a featured guest speaker at: South by Southwest (Texas), SLUSH (Finland), Epicenter Festival (Mexico), Stanford University, UC Berkeley, Harvard University, University of San Francisco (USF), PayPal, Yahoo!, Plug and Play, USAWeek in Europe, Intel Global Challenge, California Hispanic Chamber of Commerce’s (CHCC) SharkTank, Startup Grind, AngelHack Global Demo, Startup Weekend and many more.
          </p>

          <p class= "faq-answer"><u>Rexford R. Hibbs</u> is the COO and Co-Founder of DreamFunded and is on the due diligence and deal flow screening team at SF Angels Group. Rexford is an angel investor and manager of his family office out of Seattle, WA. Rexford graduated from Menlo College with a Business Management and Accounting degree. Rexford has been a panelist and guest speaker and judge at Investment Conferences, Colleges and Startup Pitch Events in Silicon Valley and Seattle including: Startups Showcase, Capital Advantage, Menlo College, Connections IoT Conference SF and many more.
          </p>

          <p class= "faq-answer">Rexford comes from a startup and real estate investing background and makes early and later stage investments in the technology and internet space as manager of his family office (Hibbs Family Office). Before co-founding DreamFunded, Rexford helped grow two successful tech startup companies from the ground up, one with a successful exit. Rexford is a Seattle native with deep ties to the investment and startup communities in both Seattle and the San Francisco Bay Area.
          </p>

          <p class= "faq-answer">Rexford is passionate about Menlo College and is on the alumni council where he is dedicated to expanding the school's reach and academic excellence. He is also assisting Menlo College in developing an in-house incubator program.
          </p>

          <p class= "faq-answer">
            Please read about the rest of our team in the <a href= "/team"><u>Our Team</u></a> page.
          </p>
          <br>

<!--           <h2 class= "darkblue centered">Information</h2><br> -->
          <h2 class= "darkblue centered">DreamFunded’s Unique Solution to Investor Access:</h2><br>

          <p class= "faq-answer"><strong></strong> </p>

          <p class= "faq-answer">
            DreamFunded has built an exclusive, members only equity crowdfunding platform to address the urgent issues of investor access and founder funding. DreamFunded provides insider access to investors and capital to companies giving them the ability to thrive. We source, screen and organize all investments on our platform in order to present them to our members, who can select and invest in the opportunities that interest them for as little as $1,000. The fees associated with DreamFunded investments are significantly lower than those required by traditional venture funding and angel groups. DreamFunded earns 5% of the total amount invested into each company. This fee is removed from each individual investment at the time it is made. DreamFunded facilitates investments by combining the efficiency of a secure, web-based equity crowdfunding portal with the advantages of specialized software to simplify the investing and fundraising processes.
          </p>

          <br>
          <h2 class= "darkblue centered">CrowdFunding Dilemmas:</h2><br>


          <p class= "faq-answer">
            While crowdfunding promises to offer a new way to raise capital for small companies, a host of challenges hamper existing crowdfunding models:</p>
          <p class= "faq-answer">
            (A) I am not a professional angel investor. How can I minimize some of the high risks associated with early-stage investing? Does DreamFunded perform due diligence?
          </p>

          <p class= "faq-answer paragraph-padding" >
            (a) These are important questions for you to ask before you make any investment. DreamFunded carefully reviews and screens each company, then hand picks each investment that will be featured on our platform. This process takes time but is crucial to help to reduce the chances of investing in an ill-conceived company.  We believe in every company that passes our screening process and makes it onto our platform.
          </p>
          <p class= "faq-answer">
            (B) How do I deal with all the paperwork and investment information for each investment opportunity? Isn't there a lot of research, paperwork, negotiations and time that is required? How can I manage all of this?
          </p>
          <p class= "faq-answer paragraph-padding">
            (b) We pre-negotiate and sign all term sheets, and we administer the deal logistics, paperwork, and future reporting on behalf of our member investors. Investments start as low as $1,000.
          </p>
          <p class= "faq-answer">
            (C) How can an investor who is not part of a VC firm access investments in top-tier companies?
          </p>
          <p class= "faq-answer paragraph-padding">
            (c) DreamFunded has built an extensive network of relationships with some of the largest and most successful VC firms, Angel Groups and Incubators in the world. We leverage these relationships to source and screen top-tier investment opportunities for the DreamFunded platform. Members of DreamFunded have direct access to these investment opportunities, which were previously only available to a select handful of investors.
          </p>

            <p class= "faq-answer">(D) How long will it take for an investment in an early-stage company to pay off?</p>
            <p class= "faq-answer  paragraph-padding">
              (d) The Average time to IPO for a private technology company in Silicon Valley is currently around 11-years. Historically, this long-term investment type has turned off many investors who were looking for more short-term investments but, Title III of the JOBS Act (Regulation CrowdFunding) changed this. Under Title III, shares must be held for a period of 1-year (12-months) unless any of the following conditions are met:
            </p>
            <p class= "faq-answer">
              <ol class= "faq-answer">
                <li class= "faq-answer" style="    font-size: 16px;  line-height: 150%;"> If the issuing company purchases the shares back from the investor.</li>
                <li class= "faq-answer" style="    font-size: 16px; line-height: 150%;"> If the shareholder sells the shares to an Accredited Investor.</li>
                <li class= "faq-answer" style="    font-size: 16px;  line-height: 150%;"> If the shares are sold as part of a registered offering.</li>
                <li class= "faq-answer" style="    font-size: 16px; line-height: 150%;"> If the shares are transferred to a family member or death or divorce.</li>
                <li style="list-style-type: disc; font-size: 16px;  line-height: 150%;"> After 1-year (12-months), the shares will be freely tradeable.</li>
                <li style="list-style-type: disc; font-size: 16px;  line-height: 150%;"> There is no guarantee your shares will be sold after 1 year.</li>
              </ol>
            </p>

           <p class= "faq-answer">
            (E) Research shows that successful Angel Investors need to made at least 20 investments to have the best chances of success. How can I be successful if I am not a millionaire or able to spend tens of thousands investing?
          </p>
          <p class= "faq-answer paragraph-padding">
            (e) Yes. According to top research, like the Kauffman Foundation’s Study on Returns to Angels in Groups, having at least 20 investments increases your chances of success significantly. Many might think this requires significant amounts of capital set aside to accomplish this and with the traditional model of angel investing it was (individual angel investor in an angel group invests avg. of $25,000 per deal). DreamFunded breaks the mold by allowing our members to invest lower dollar amounts in more companies (as little as $1,000), which enables them to build a more diversified portfolio. Diversification does not guarantee or ensure a profit.
          </p><br>


          <h2 class= "darkblue centered">How Do I Join DreamFunded?</h2><br>

          <p class= "faq-answer">Joining DreamFunded is free and simple. To sign up for free membership, just visit our website and register by <a href='/users/new'>clicking here.</a></p>

          <p class= "faq-answer">
          Once you have verified your email address you will be able to log in and enjoy full access to the DreamFunded platform and all investment opportunities.</p><br>


          <h2 class= "darkblue centered"> How Do I Make An Investment?</h2><br>

          <p class= "faq-answer">After registering and becoming a member, you will be able to browse the available investment opportunities in the “Investments” section of the DreamFunded website. For each investment opportunity, you will find a wealth of information about the company including; videos, presentations, analysis, deal terms, team profiles and more. You will also be able to comment, ask the issuer (company) questions, communicate with other investors. Once you identify a company you like and want to invest in, you will be able to sign all the relevant legal documents and invest securely using your bank account in minutes.</p>

          <p class= "faq-answer">For further information about DreamFunded, please browse the site, <a href='users/new'>sign up</a>, or <a href='/contact'>contact us</a>.</p>
          <br>
        <div class= "centered twenty">
          <%= button_to "Get Started", {:action => 'get_started'}, {:id => 'push'} %>
        </div>
        <br><br>

      </div></div>
    </div>
  </body>

</html>
