<html>
  <head>
    <% title "DreamFunded | FAQs " %>
  </head>

  <body>
    <div class= "wrapper">
      <div class="header">
        <h1 class="centered">How It Works</h1>
      </div>
      <div class= "word-content"><div class= "text-content">

          <h2 class= "darkblue centered">Equity Crowdfunding</h2>
          

          <h4 class= "question ">
            What is equity crowdfunding?
          </h4>

          <p class= "faq-answer">
            Recently equity crowdfunding is the newest and most efficient way of raising money for private companies from people all over the world. There are two types of main crowdfunding: equity-based crowdfunding where people invest into companies in return for equity ownership in the company, and donation-based where people donate money to a project or company in exchange for perks, like tickets or non-monetary rewards.
          </p>
          <br>

          <h4 class= "question  ">
            Why are we doing this?
          </h4>
          
          <p class= "faq-answer">
            Lack of employee liquidity is a huge problem in Silicon Valley right now as the average time to IPO is on the rise. In 2000, the average time to IPO for Silicon Valley tech companies was 4-years. As of 2014, the average time to IPO is 11-years. This means that companies are taking much longer to go IPO than ever before and is preventing employees from cashing out on their equity shares until the company goes public. There is also a big demand from investors who are looking to acquire employee shares of companies like Uber and Airbnb. 
          </p>
          <br>

          <h4 class= "question  ">
            Why now?
          </h4>
          
          <p class= "faq-answer">
            Upcoming law changes regarding the JOBS Act (Jumpstart Our Business Startups Act) and the RAISE Act (Reforming Access for Investments in Startup Enterprises Act) will have a massive impact on the equity crowdfunding landscape. Changes to the JOBS Act in 2016 will open up 97% of the U.S. Market by allowing ordinary American’s (aka: non-accredited investors) to invest in private companies for the first time in over 83 years. The RAISE Act, which will be signed into law in the next 60 days allows shareholders (employees) to liquidate shares in private companies in as little as 90 days; instead of the previous 12-month holding time. As a result, this allows the DreamFunded Exchange to become the first Silicon Valley private tech stock market.
          </p>
          <br>

          <h2 class= "darkblue centered faq-subtitle">DreamFunded</h2>
          

          <h4 class= "question  ">
            DreamFunded in short...
          </h4>
          
          <p class= "faq-answer">
            DreamFunded is a world-class equity crowdfunding platform, offering liquidity for employees in pre-IPO tech companies. Membership in the community is screened and only available to investors who meet the self-accreditation requirements. Due to upcoming rule changes regarding the JOBS Act in May of 2016, the accreditation requirements will change, allowing non-accredited investors to access DreamFunded investments. DreamFunded Members can make investments as low as $3,000.
          </p>

          <p class= "faq-answer">
            All investment documents (term sheets, subscription documents..etc.) are available to all members and can be easily signed through our platform during the investment process. DreamFunded has become the first private tech stock market for Silicon Valley, offering liquidity for employees in pre-IPO companies and access for accredited investors. 
          </p>
          <br>

          <h4 class= "question  ">
            Who are we?
          </h4>
          
          <p class= "faq-answer">
            <strong><u>Manny Fernandez</u></strong>, the co-founder and CEO of DreamFunded, Manny Fernandez is a Silicon Valley angel investor, angel group founder, serial entrepreneur and keynote speaker. He has been successful with both his own ventures as well as helping other startups achieve success as an advisor. Fernandez won the equity crowdfunding leadership award while co-founding DreamFunded.com. Prior to co-founding DreamFunded, Fernandez founded SF Angels Group in San Francisco and has been an investor with TiE Angels since 2012. Fernandez was just named in Inc. Magazine’s list of the top 33 entrepreneurs to watch in 2016 and was named 2014 SF Angel Investor of the Year. He is the 14th most followed Angel Investor on Twitter with over 100,000 followers. Fernandez is an international keynote speaker, frequent judge and panelist for startup demo days, Bay Area corporations, colleges and universities. Fernandez has been a featured guest speaker at: South by Southwest (Texas), SLUSH (Finland), Epicenter Festival (Mexico), Stanford University, UC Berkeley, Harvard University, University of San Francisco (USF), PayPal, Yahoo!, Plug and Play, USAWeek in Europe, Intel Global Challenge, California Hispanic Chamber of Commerce’s (CHCC) SharkTank, Startup Grind, AngelHack Global Demo, Startup Weekend and many more. 
          </p>

          <p class= "faq-answer">
            <strong><u>Rexford R. Hibbs</u></strong>, the co-founder and COO of DreamFunded. Rexford graduated from Menlo College with a B.S. in Business Management and Accounting. Rexford has been a panelist and guest speaker at various startup pitch events in the Bay Area. Rexford comes from a startup and real estate investing background. He has made various early stage startup investments through his family office in the technology and internet space. Before co-founding DreamFunded, Rexford was previously with 2 successful internet startup companies that he helped grow from the ground up. Rexford is a Seattle native with deep ties to the investment and startup communities in the Seattle area. Rexford is passionate about Menlo College and is on the alumni board where he is dedicated to expanding the school's reach and academic excellence. He is also assisting Menlo College in developing an on-campus incubator program. 
          </p>

          <p class= "faq-answer">
            Please read about the rest of our team in the <a href= "/team"><u>Our Team</u></a> page.
          </p>
          <br>

          <h4 class= "question  ">
            How are we different from the competition?
          </h4>
          
          <p class= "faq-answer">
            DreamFunded created a much needed platform for providing liquidity and investment access to pre-IPO employees and accredited investors. Private tech companies are delaying IPO in favor of later stage funding rounds, delaying returns for employees with equity and pushing out public investors. While Angel investing is rapidly increasing as a funding alternative for early stage companies, most investors, public and private, remain largely unable to access investments in pre-IPO companies. Investors want the organization, deal access and management capability of a venture fund without the large financial commitment and fees, together with the ability to pick and choose the investments that interest them. DreamFunded offers a solution to this for employees and investors looking for liquidity and access to pre-IPO investments. 
          </p>

          <br>
          <h2 class= "darkblue centered faq-subtitle">Information</h2>
          

          <h4 class= "question  ">
            DreamFunded’s unique solution:
          </h4>
          
          <p class= "faq-answer">
            DreamFunded is building an exclusive equity crowdfunding platform that addresses the huge issue of employee liquidity in today’s market. DreamFunded offers employees in pre-IPO companies the ability liquidate their shares without a ROFR and offer our members elite access to these shares. We will source, vet and organize all investments on our platform to present to our members, who are able to choose only the opportunities that interest them and make individual investments starting as low as $3,000. The fees and carries associated with DreamFunded are significantly lower than those associated with traditional Venture investing and angel group. DreamFunded utilizes the efficiency of web based equity crowdfunding with special software solutions to simplify the investment process, making it as easy as possible. 
          </p>
          <br>

          <h4 class= "question  ">
            The promise and shortcomings of crowdfunding:
          </h4>
          
          <p class= "faq-answer">
            While crowdFunding offers the promise of a new way to raise capital for small companies, there are a host of problems with the existing other crowdfunding models: How can employees sell shares when company ROFR restrictions prevent them from doing so? How do I know that I the pre-IPO shares are offered a good price? How do I know that the valuation of the pre-IPO company is accurate? How can I avoid the risk of seed stage investing but still capitalize on private tech companies? Without being part of a VC firm, how can I access investments in top-tier companies I am familiar with? 
          </p>

          <p class= "faq-answer">
            DreamFunded solves these problems. By forming individual limited partnerships (LLC’s) for each investment and combining that with our unique liquidation purchase process, DreamFunded is able to avoid company ROFR restrictions and enable shareholders to liquidate their shares at any time. DreamFunded hand selects each deal for our members, and sometimes invests its own management funds as an active investor. DreamFunded will pre-negotiate and sign all term sheets and administer the deal logistics, paperwork, and future reporting on behalf of its investors. Investors will be able to invest as little as $3,000 in each opportunity and there is no limit on how much an investor can invest. 
          </p>
          <br>

          <h4 class= "question  ">
            How do I join DreamFunded?
          </h4>
          
          <p class= "faq-answer">
            Joining DreamFunded is free and simple. It is really easy to sign up for a free DreamFunded Membership: Just visit our website and register by clicking <a href= "/users/new"><u>Here</u></a>. 
          </p>

          <p class= "faq-answer">
            Once we verify that you meet the criteria (we may call you as part of this process), you can log into the DreamFunded platform and enjoy full access to information about the DreamFunded investment opportunities. You may also sign up for our free newsletter to stay in touch if you do not meet our accreditation criteria. Remember the accreditation rules are changing in May of 2016, so stay in touch with our newsletter! 
          </p>
          <br>

          <h4 class= "question  ">
            How do I make an investment?
          </h4>
          
          <p class= "faq-answer">
            View the deals available to our Members in the "<u><%= link_to "Investments", :action => 'get_started' %></u>" section of the website. You will be provided with information about the company including: videos, presentations, deal analysis, deal terms, team profiles and more. You will also be able to participate in a webinar, call or meeting with DreamFunded management as per request. Once you have decided to make an investment, you will be able to sign all the legal documents and invest through your checking account in as little as 10 minutes. 
          </p>

          <p class= "faq-answer">
            For further information about DreamFunded browse the site, <a href= "/users/new"><u>sign up</u></a>, or <a href= "/contact"><u>contact us</u></a>. 
          </p>

        <br><br>

        <div class= "centered twenty">
          <%= button_to "Get Started", {:action => 'get_started'}, {:id => 'push'} %>
        </div>
        <br><br>

      </div></div>
    </div>
  </body>

</html>
