<html>
  <head>
    <% title "DreamFunded | FAQs " %>
  </head>

  <body>
    <div class= "wrapper">
      <div class="header">
        <h1 class="centered">How It Works</h1>
      </div>
      <div class= "word-content"><div class= "text-content">

          <h2 class= "darkblue centered">Equity Crowdfunding</h2>


          <h4 class= "question ">
            What is Equity Crowdfunding?
          </h4>

          <p class= "faq-answer">
            Equity crowdfunding has recently become the most efficient way to raise money from people all over the world. There are two main types of crowdfunding: Equity-based crowdfunding, in which investors receive equity ownership in the company, and donation-based crowdfunding, when individuals donate money to a project or company in exchange for perks, such as tickets or non-monetary rewards.
          </p>
          <br>

          <h4 class= "question  ">
            Why We Started DreamFunded?
          </h4>

          <p class= "faq-answer">
            Lack of employee liquidity has become a huge problem in Silicon Valley, as the average time to IPO continues to rise.  In 2000, the average time to IPO for Silicon Valley tech companies was four years, but by 2014, that average time had grown to 11-years. The longer the time to IPO, the longer employees are prevented from cashing out on their equity shares. Meanwhile there is significant and growing demand on the part of investors to acquire employee shares of companies like Uber and Airbnb.
          </p>
          <br>

          <h4 class= "question  ">
            Why Now?
          </h4>

          <p class= "faq-answer">
            Upcoming statutory changes promise to have a significant impact on the equity crowdfunding landscape. Changes to the JOBS Act (Jumpstart Our Business Startups Act) will open up 97% of the U.S. market to investment by ordinary Americans, rather than restricting it to accredited investors. For the first time in over 83 years, the general public will be able to invest in private companies directly. The R.A.I.S.E Act (Reforming Access for Investments in Startup Enterprises Act), which will soon be signed into law, will allow employee shareholders to liquidate shares in private companies in as little as 90 days, rather than the 12-month holding period which has prevailed for more than a century. In this dynamic context, DreamFunded has been able to position itself adeptly to become, as CNBC says "Silicon Valley's first private tech stock market."
          </p>
          <br>

          <h2 class= "darkblue centered faq-subtitle">DreamFunded</h2>


          <h4 class= "question  ">
            DreamFunded In Short...
          </h4>

          <p class= "faq-answer">
            DreamFunded is a world-class equity crowdfunding platform, providing liquidity for employees in pre-IPO tech companies and investment opportunities to DreamFunded members. Membership in the investment community is screened and available only to investors who meet the accreditation requirements.  Due to upcoming changes in the JOBS Act, expected in May, 2016, the rules concerning accreditation requirements will change, allowing non-accredited investors to participate in DreamFunded investments. DreamFunded members can make investments for as low as $3,000.
          </p>

          <p class= "faq-answer">
            All investment documents (term sheets, subscription documents, etc.) are available to members and can be  easily signed through our platform during the investment process.
          </p>
          <br>

          <h4 class= "question  ">
            Who We Are
          </h4>

          <p class= "faq-answer">
             <strong><u>Manny Fernandez</u></strong>, the co-founder and CEO of DreamFunded, is a Silicon Valley angel investor, angel group founder, serial entrepreneur and keynote speaker. He has been successful leading his own ventures as well as advising other startups on their paths to success. Fernandez won the Equity Crowdfunding Leadership Award in 2014 for his co-founding DreamFunded. He had previously founded the SF Angels Group in San Francisco, and he has been an investor with TiE Angels since 2012. Fernandez was just named in Inc. Magazine’s list of the top 33 entrepreneurs to watch in 2016 and was named 2014 SF Angel Investor of the Year. He is the 14th most followed Angel Investor on Twitter, with over 100,000 followers. An international keynote speaker, frequent judge and panelist for startup demo days, Bay Area corporations, colleges and universities, Fernandez has been a featured guest speaker at: South by Southwest (Texas), SLUSH (Finland), Epicenter Festival (Mexico), Stanford University, UC Berkeley, Harvard University, University of San Francisco (USF), PayPal, Yahoo!, Plug and Play, USAWeek in Europe, Intel Global Challenge, California Hispanic Chamber of Commerce’s (CHCC) SharkTank, Startup Grind, AngelHack Global Demo, Startup Weekend and many more.
          </p>

          <p class= "faq-answer">
            <strong><u>Rexford R. Hibbs</u></strong> is the COO and Co-Founder of DreamFunded and is on the due diligence and deal flow screening team at SF Angels Group. Rexford is an angel investor and manager of his family office out of Seattle, WA. Rexford graduated from Menlo College with a B.S. in Business Management and Accounting. Rexford has been a panelist and guest speaker at various startup pitch events in the San Francisco and Seattle.</p>
            <p class= "faq-answer">Rexford comes from a startup and real estate investing background and makes early stage and pre-IPO investments as manager of his family office (Hibbs Family Office) in the technology and internet space. Before co-founding DreamFunded, Rexford helped grow two successful tech startup companies from the ground up, one with a successful exit. Rexford is a Seattle native with deep ties to the investment and startup communities in Seattle and the San Francisco Bay Area.</p>

            <p class= "faq-answer">Rexford is passionate about Menlo College and is on the alumni council where he is dedicated to expanding the school's reach and academic excellence. He is also assisting Menlo College in developing an in-house incubator program.
            </p>


            <p class= "faq-answer">
            <strong><u>Avery Haskell</u></strong> is the CPO of DreamFunded, where he is responsible for all product-related matters, including the design and development of the platform. Avery has dreamed of being involved in the future of equity crowdfunding since the JOBS Act was passed in 2012. He is currently pursuing a BS in Computer Science from Stanford University.</p>




          <p class= "faq-answer">
            Please read about the rest of our team in the <a href= "/team"><u>Our Team</u></a> page.
          </p>
          <br>

          <h4 class= "question  ">
            How Are We Different From The Competition?
          </h4>

          <p class= "faq-answer">
            DreamFunded created a much needed platform for providing liquidity and investment access to pre-IPO employees and accredited investors. Private tech companies are delaying IPO in favor of later stage funding rounds, delaying returns for employees with equity and pushing out public investors. While Angel investing is rapidly increasing as a funding alternative for early stage companies, most investors, public and private, remain largely unable to access investments in pre-IPO companies. Investors want the organization, deal access and management capability of a venture fund without the large financial commitment and fees, together with the ability to pick and choose the investments that interest them. DreamFunded offers a solution to this for employees and investors looking for liquidity and access to pre-IPO investments.
          </p>

          <br>
          <h2 class= "darkblue centered faq-subtitle">Information</h2>


          <h4 class= "question  ">
            DreamFunded’s Unique Solution to Employee Liquidity & Investor Access:
          </h4>

          <p class= "faq-answer">
            DreamFunded has built an exclusive equity crowdfunding platform to address the urgent issue of employee liquidity that has resulted from the postponement of IPO’s in today's startup world. DreamFunded provides employees in pre-IPO companies the opportunity to liquidate their shares without an ROFR by offering them to our member investors through elite access. We source, vet and organize all investments on our platform in order to present them to our members, who can select only those opportunities that  interest them and who can make individual investments for as low as $3,000. The fees and carries associated with DreamFunded investments are significantly lower than those required by traditional venture funding and angel groups. DreamFunded facilitates pre-IPO investment by combining the efficiency of web-based equity crowdfunding with the advantages of special software solutions to simplify the process.
          </p>
          <br>

          <h4 class= "question  ">
            The Promise & Shortcomings of Crowdfunding:
          </h4>

          <p class= "faq-answer">
            While crowdfunding promises to offer a new way to raise capital for small companies, a host of challenges hamper existing crowdfunding models: How can crowdfunding enable employees to sell their shares despite company ROFR restrictions? Can an investor determine that pre-IPO shares are offered at a good price? How can one determine whether the pre-IPO company valuation is accurate? Can an investor avoid the risk of seed stage investing but still capitalize on private tech companies? How can investor who is not part of a VC firm access investments in top-tier companies?
          </p>

          <p class= "faq-answer">
            These are important questions, and DreamFunded has the answers. We form individual limited partnerships (LLC’s) for each investment, and with our unique liquidation process, DreamFunded can avoid company ROFR restrictions, which enables employee shareholders to liquidate their shares whenever they choose to do so. DreamFunded also carefully vets and selects each deal for our members, sometimes also investing its own management funds as an active investor. We pre-negotiate and sign all term sheets, and we administer the deal logistics, paperwork, and future reporting on behalf of our member investors.  Investments start as low as $3,000 with no upper limit.
          </p>
          <br>

          <h4 class= "question  ">
            How Do I Join DreamFunded?
          </h4>

          <p class= "faq-answer">
            Joining DreamFunded is free and simple. To sign up for free membership, just visit our website and register by clicking <a href= "/users/new"><u>Here</u></a>.
          </p>

          <p class= "faq-answer">
            Once we verify that you meet our criteria — we may call you to confirm certain information — you will be able to log into the DreamFunded platform and gain full access to the DreamFunded investment opportunities.
          </p>
          <p class= "faq-answer">If you do not meet our criteria,  you can nonetheless sign up for our free newsletter to stay in touch. Remember though that accreditation rules will change in May, 2016, at which point you may well qualify for DreamFunded membership. Our newsletter will alert you to relevant developments.</p>
          <br>

          <h4 class= "question  ">
            How Do I Make An Investment?
          </h4>

          <p class= "faq-answer">
            After registering and becoming a member, you will be able to  browse the available deals in the “Investments” section of the DreamFunded website. For each deal, you will find a wealth of information about the company, including videos, presentations, analysis, deal terms, team profiles and more. You will also be able to participate in webinars and, on request, you can call or meet with DreamFunded management. Once you identify a deal to your liking and want to proceed with an investment, you will be able to sign all the relevant legal documents and invest through your checking account in as little as ten minutes.
          </p>

          <p class= "faq-answer">
            For further information about DreamFunded, please browse the site, <a href= "/users/new"><u>sign up</u></a>, or <a href= "/contact"><u>contact us</u></a>.
          </p>

        <br><br>

        <div class= "centered twenty">
          <%= button_to "Get Started", {:action => 'get_started'}, {:id => 'push'} %>
        </div>
        <br><br>

      </div></div>
    </div>
  </body>

</html>
