<html>
	<head>
		<title>DreamFunded | Home</title>
	</head>

	<body><div class= "wrapper">
		<div class= "container fullWidth">

			<div class= "big-title white">
				<h1 class= "remove-margin">Access to Vetted Startups & Proven Tech Companies</h1>
				<div class= "top-space"><h3 class= "remove-margin">A small investment today might make a big impact on your future tomorrow.</h3></div>
				<div class= "centered button-box"><%= button_to "Get Started", {:action => 'get_started'}, {:id => 'button'} %></div>
			</div>

			<div class= "section2-wrap"><div class= "section2">
				<div class= "section2-box">

				</div>
				<div class= "section2-box">

				</div>
				<div class= "section2-box"></div>

				</div>
			</div>
		</div>
	</div>
	</body>

 </html>

