<html>
	<head>
		<link rel= "stylesheet" href= "../../assets/stylesheets/home.css.scss">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ek+Mukta">
		<title>DreamFunded | Home</title>
	</head>

	<body>
		<div class= "container fullWidth">
			<div class= "menu-wrap fullWidth white"> <nav class= "menu">
				<ul class= "main-menu">
					<li><a href= "">Invest Now</a></li>
					<li><a href= "">Why Invest</a></li>
					<li><a href= "">News</a></li>
					<li>
						<a href= "">About Us <span class="arrow">&#9660;</span></a>
						<ul class= "sub-menu"> 
							<li><a href>Our Team</a></li>
							<li><a href>FAQ</a></li>
							<li><a href>Contact Us</a></li>
						</ul>
					</li>
					<li><a href= "">Exchange</a></li>

					<li id= "right"><a href= "/users/login">Login / Sign Up</a></li>
					<li id= "right"><a href= "">Get Funded</a></li>
				</ul>
			</nav></div>

			<div class= "big-title white">
				<h1>Access to Pre-Screened Silicon Valley Startups</h1>

				<div class= "button"><a href= "">Get Started</a></div>
			</div>
		</div>
	</body>

 </html>