<div class= "wrapper"><div class= "box signin-box ">

  <div class="row">
    <div class="active">
      <h2 class= "no-margin darkblue"><a  id="login-form-link">Hi <%= flash[:name] %>,</a></h2>
      <br>
      <div class='liquidate-info'>
       Thank you for your interest in selling your private shares. We will review your information and be in contact within 24-48 hours. </div><br>
    </div>
  </div>



</div>
