<%= image_tag "manhattan_sm.jpg", id: 'manhattan' %>

<div class='countdown-time big-title'>
    <div class='countdown-sub-text'>July 7th, Live CrowdFunding</div>
    <div id="countdown" class="countdownHolder"></div>
</div>

<div id='toast-container'>
  <div id='toastEmail'>
    <i class="fa fa-times" id='close-subcribtion'></i>
    <p>Join our educational newsletter and <b>become a better investor</b> today.</p>
    <%= form_for Guest.new, remote: true do |f|%>
      <%= f.text_field 'email', required: true, id: 'newsletter-text-field' %>
      <button id='newsletter-submit-button'>SUBSCRIBE</button>
      <p id='display-later'>THANK YOU</p>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('footer').hide();

     $('#close-subcribtion').click(function(){
      $('#toast-container').hide();
     });
  })

   $("#countdown")
     .countdown("2016/07/07", function(event) {
       $(this).text(
         event.strftime('%D:%H:%M:%S')
       );
   });
</script>
