<div>
  <%= image_tag "sf_bg.jpg", id: 'manhattan' %>
  <div class='cover_on_top'></div>
</div>

<div class='countdown-time big-title'>
    <div class='countdown-sub-text'>July 7th, Live Equity CrowdFunding Event</div>
    <div id="countdown" class="countdownHolder"></div>
     <%= link_to "Get Funded", {:action => 'get_funded'}, {:class => 'invest-button invest-now-button', id: 'get_funded_link'} %>
</div>

<div class= " button-box"  >

</div>

<div id='newsletter-container'>
  <div id='toastEmail'>
    <i class="fa fa-times" id='close-subcribtion'></i>
    <p>Join our educational newsletter and <b>become a better investor</b> today.</p>
    <%= form_for Guest.new, remote: true do |f|%>
      <%= f.text_field 'email', required: true, id: 'newsletter-text-field' %>
      <button id='newsletter-submit-button'>SUBSCRIBE</button>
      <p id='display-later'>THANK YOU</p>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('footer').hide();
     $('#close-subcribtion').click(function(){
      $('#newsletter-container').hide();
     });
  })

   $("#countdown")
     .countdown("2016/07/07", function(event) {
       $(this).text(
         event.strftime('%D:%H:%M:%S')
       );
   });
</script>
