<head>
  <% title "DreamFunded | Marketplace" %>
  <% facebook_url "https://dreamfunded.com/marketplace" %>
  <% meta_tag "DreamFunded.com CEO Manny Fernandez announced an upcoming live equity crowdfunding event will take place in San Francisco on 7 July 2016" %>
</head>
<div>
  <%= image_tag "smaller_bg.jpg", id: 'manhattan' %>
  <!-- <div class='cover_on_top'></div> -->
</div>

<div class='countdown-time big-title'>
    <div class='countdown-sub-text'>July 7th, Live Equity CrowdFunding Event</div>
    <div id="countdown" class="countdownHolder"></div>
     <h3 class='market-place-subscribe-label'>Sign Up for Updated News About This Event </h3>
      <%= form_tag('/marketplace_signup', remote: true, class: 'marketplace_form') do %>
        <input type='text' name='email' placeholder="Email" id="marketplace-text-field" >
        <button id='marketplace-submit-button'>SUBSCRIBE</button>
      <% end %>
</div>

<div class= " button-box"  >

</div>



<script type="text/javascript">
  $(document).ready(function(){
    $('footer').hide();
     $('#close-subcribtion').click(function(){
      $('#newsletter-container').hide();
     });
  })

   $("#countdown")
     .countdown("2016/07/07", function(event) {
       $(this).text(
         event.strftime('%D:%H:%M:%S')
       );
   });
</script>
