<html>
<head>
  <% title "DreamFunded | Resources" %>
</head>

<body><div class= "wrapper">
  <div class="header">
    <h1 class="centered">Dreamfunded Resources</h1>
  </div>
  <div class= "word-content"><div class= "text-content">
    <p class= "no-margin question centered"><%= image_tag "static/power_point.png", class: 'power_point_icon' %> <%= link_to "Download Model Power Point", "https://dreamfunded.s3.amazonaws.com/documents/model_power_point_sf_angels_stanford.pptx?1462840126", target: "_blank", class: 'document-url' %></p>
  </div></div>
</div>
</body>
</html>
