<html>
  <head>
    <% title "DreamFunded | Education " %>
  </head>

  <body>
    <div class= "wrapper">
      <div class="header">
        <h1 class="centered">Education</h1>
      </div>
      <div class= "left-panel">
        <ul class='education-menu'>
            <a href='/education/basics'><li class='education-item '>The Basics</li></a>
            <a href='/education/investing-tips'><li class='education-item'>Investing Tips & Strategies</li></a>
            <a href='/education/rules-regulations'><li class='education-item active'>Rules & Regulations</li></a>
            <a href='/education/important-terms'><li class='education-item'>Important Terms</li></a>
        </ul>
      </div>
      <div class= "right-panel word-content">
        <div class= "text-content">


            <h3 class= "question darkblue flip">Rules & Regulations</h3>
            <ul class='education-center-list'>
                <li>Important Terms </li>
                <p class='panel'>혰Lorem ipsum dolor sit amet, id quo congue nullam, wisi debet ocurreret ea vel, bonorum consetetur mei ei. Adhuc postulant percipitur cu cum, nec in rebum mazim quando. Ei sea tale munere quaerendum. Te sit case quidam eligendi, ei vix placerat inciderint contentiones, causae aeterno facilisi ut ius. Qui eu ocurreret deseruisse. Amet viderer ceteros ei cum, posse impetus ius no.Enim equidem ius an. Timeam maluisset cu est, id fugit animal feugait pri, splendide voluptaria vis ea. Sit et primis senserit, discere platonem mel ea. Consul verear pertinax duo ea, eos ad equidem consectetuer. Sea dissentiunt voluptatibus ex.</p>

                <li>New Trend: push to later stage funding rounds </li>
                <p class='panel'>혰In the last tech boom in 2000, the average time to IPO was 4 years. As of last year, the average time to IPO was 11. This trend in later stage funding rounds is placing tremendous strain on employees with equity in private, Pre-IPO companies. Trends are changing, but employee compensation, and liquidity has not changed. So the DreamFunded team created a marketplace so shareholders can privately sell their shares to our community of investors.</p>


                <p class='panel'>혰Lorem ipsum dolor sit amet, id quo congue nullam, wisi debet ocurreret ea vel, bonorum consetetur mei ei. Adhuc postulant percipitur cu cum, nec in rebum mazim quando. Ei sea tale munere quaerendum. Te sit case quidam eligendi, ei vix placerat inciderint contentiones, causae aeterno facilisi ut ius. Qui eu ocurreret deseruisse. Amet viderer ceteros ei cum, posse impetus ius no.Enim equidem ius an. Timeam maluisset cu est, id fugit animal feugait pri, splendide voluptaria vis ea. Sit et primis senserit, discere platonem mel ea. Consul verear pertinax duo ea, eos ad equidem consectetuer. Sea dissentiunt voluptatibus ex.</p>

                <li>Proper Vetting </li>
                <p class='panel'>혰Lorem ipsum dolor sit amet, id quo congue nullam, wisi debet ocurreret ea vel, bonorum consetetur mei ei. Adhuc postulant percipitur cu cum, nec in rebum mazim quando. Ei sea tale munere quaerendum. Te sit case quidam eligendi, ei vix placerat inciderint contentiones, causae aeterno facilisi ut ius. Qui eu ocurreret deseruisse. Amet viderer ceteros ei cum, posse impetus ius no.Enim equidem ius an. Timeam maluisset cu est, id fugit animal feugait pri, splendide voluptaria vis ea. Sit et primis senserit, discere platonem mel ea. Consul verear pertinax duo ea, eos ad equidem consectetuer. Sea dissentiunt voluptatibus ex.</p>
            </ul>



            <br><br><br>

            <div class= "centered twenty">
              <%= button_to "Get Started", {:action => 'get_started'}, {:id => 'push'} %>
            </div>

        </div>
      </div>
    </div>
  </body>

</html>
<script>
$(document).ready(function(){
    $(".education-center-list li").click(function(){
        $(this).toggleClass('open');
        if($(this).hasClass('open') ){
            $(this).next().slideDown("slow");
        }else{
            $(this).next().slideUp("slow");
        }
    });
});
</script>
