<html>
<head>
	<link rel= "stylesheet" href= "../../assets/stylesheets/team.css.scss">
	<title>DreamFunded | Our Team</title>
</head>

<body>
	<div class="header-container">
		<h1 class= "team-header centered">Our Team</h1>
		<p class= "team-header-contents">DreamFunded is a company built by angel investors for investors. We strive to cultivate long lasting relationships with startups, investors, and partners.</p>
	</div>
	<% if @teams != nil %>
		<% teams.each do |t| %>
			<%= image_tag "#{t.image_name}" %>
			<p> <%= t.full_name %> </p>
			<p> <%= t.description %> </p>
			<button id = <%="#{t.full_name}_fullbio" %>> Full Bio </button>
		<% end %>
	<% end %>
</body>

</html>
