<html>
<head>
	<title>DreamFunded | Our Team</title>
</head>

<body>
	<div>
		<h3>Our Team</h3>
		<p>DreamFunded is a company built by angel investors for investors. We strive to cultivate long lasting relationships with startups, investors, and partners.</p>
	</div>

	<div>
		<img src="https://dreamfunded.com/wp-content/uploads/2014/12/MannyFernandezcut3-600x600.jpg" alt="Manny_Fernandez" style="width:200px;height:200px;">
		<p>Manny Fernandez</p>
		<p>Manny Fernandez is a serial entrepreneur and the founder of SF Angels Group. In 2014, he was named SF Angel Investor of the Year and received the Equity Crowdfunding Leadership Award.</p>
		<p>Full Bio</p>
	</div>

	<div>
		<img src="https://dreamfunded.com/wp-content/uploads/2015/01/Bill-Payne-large-600x600.jpg" alt="Bill_Payne" style="width:200px;height:200px;">
		<p>Bill Payne</p>
		<p>Bill Payne has been actively involved in angel investing since selling his company to DuPont in the early ‘80s. He has funded over 60 companies and mentored over 100.</p>
		<p>Full Bio</p>
	</div>

	<div>
		<img src="https://dreamfunded.com/wp-content/uploads/2015/06/Min-Kim-800-600x600.png" alt="Min_Kim" style="width:200px;height:200px;">
		<p>Min Kim</p>
		<p>Stanford computer science major, Min Kim is an award winning software engineer. Kim placed first in the 2012 Intel ISEF Competition and took gold at the 2011 Korean IYPT. Kim brings his elite skills to DreamFunded building our new investor platform.</p>
		<p>Full Bio</p>
	</div>

	<div>
		<img src="https://dreamfunded.com/wp-content/uploads/2015/02/Rexford-Hibbs-new-cut-600x600.jpg" alt="Rexford R. Hibbs" style="width:200px;height:200px;">
		<p>Rexford R. Hibbs</p>
		<p>Seattle Native, Rexford R. Hibbs leads investor relations and serves as a resource for potential and current investor members. He graduated from Menlo College with a B.S. in Business with an emphasis in Accounting. Rexford has been a panelist and guest speaker at various startup pitch events in the Silicon Valley. Before co-founding DreamFunded, Rexford was previously with 2 successful internet startups that he helped grow from the ground up. Rexford is passionate about Menlo College and is on the alumni board where he is dedicated to expanding the schools reach and academic excellence.</p>
		<p>Full Bio</p>
	</div>

	<div>
		<img src="https://dreamfunded.com/wp-content/uploads/2015/06/head1-600x600.jpg" alt="Helder Suzuki" style="width:200px;height:200px;">
		<p>Helder Suzuki</p>
		<p>Helder Suzuki is currently a Software Engineer at Google, with expertise in Information Retrieval, NLP, Distributed Processing, Complex Graphs and Web. Previously, he cofounded Regrupe, the top Brazilian secondary marketplace for daily deals, and worked at Tellme Networks (acquired by Microsoft in 2007).</p>
		<p>Full Bio</p>
	</div>

	<div>
		<img src="https://dreamfunded.com/wp-content/uploads/2015/06/jacob1-582x600.jpg" alt="Jacob White" style="width:200px;height:200px;">
		<p>Jacob White</p>
		<p>Jacob is a brilliant recent Harvard Law school graduate, who is passionate about democratizing capital markets. He is the former President and Editor-in-Chief of Harvard Journal of Legislation.</p>
		<p>Full Bio</p>
	</div>

	<div>
		<img src="https://dreamfunded.com/wp-content/uploads/2015/01/Don-Aoki-large-600x600.jpg" alt="Don Aoki" style="width:200px;height:200px;">
		<p>Don Aoki</p>
		<p>As the Senior Vice President, Don Aoki played a vital role in bringing Keynote Systems to IPO within 2.5 years. He is a veteran of multiple Silicon Valley startups and an active angel investor with SF Angels Group, MIT Angels, and a limited partner with Rembrandt Venture Partners.</p>
		<p>Full Bio</p>
	</div>

	<div>
		<img src="https://dreamfunded.com/wp-content/uploads/2015/01/Andy-large-600x600.jpg" alt="Andy Pandharikar" style="width:200px;height:200px;">
		<p>Andy Pandharikar</p>
		<p>Andy Pandharikar is the founder and CEO of FITIQUETTE, which was acquired by Myntra, India’s largest retailer for fashion. He is also a member of SF Angel Group and TiE Angels.</p>
		<p>Full Bio</p>
	</div>

	<div>
		<img src="https://dreamfunded.com/wp-content/uploads/2015/01/BartR-Headshot.jpg" alt="Bart Robertson" style="width:200px;height:200px;">
		<p>Bart Robertson</p>
		<p>Bart Robertson has 30 years of experience in technology, sales, and strategy across enterprise and startup companies. He also has over 15 years of startup and venture capital experience and is currently an active angel investor with the Central Texas Angel Network and a partner at Capital Factory.</p>
		<p>Full Bio</p>
	</div>

	<div>
		<img src="https://dreamfunded.com/wp-content/uploads/2015/01/b-amir-small-600x600.jpg" alt="Amir Banifatemi" style="width:200px;height:200px;">
		<p>Amir Banifatemi</p>
		<p>Amir Banifatemi's one of the best-known and well-respected investors in Southern California. Currently, he is a managing partner at K5 Ventures and a current member and former president of Tech Coast Angels Orange County.</p>
		<p>Full Bio</p>
	</div>

</body>

</html>


</body>

</html>
