<html>
  <head>
    <% title "DreamFunded | Education " %>
  </head>

  <body>
    <div class= "wrapper">
      <div class="header">
        <h1 class="centered">Education</h1>
      </div>
      <div class= "left-panel">
        <ul class='education-menu'>
            <a href='/education/basics'><li class='education-item'>The Basics</li></a>
            <a href='/education/investing-tips'><li class='education-item'>Investing Tips & Strategies</li></a>
           <!--  <a href='/education/rules-regulations'><li class='education-item'>Rules & Regulations</li></a> -->
            <a href='/education/important-terms'><li class='education-item active'>Important Terms</li></a>
        </ul>
      </div>
      <div class= "right-panel word-content">
        <div class= "text-content">

            <h3 class= "question darkblue flip">Important Terms  </h3>
            <ul class='education-center-list'>
                <li>Accredited Investor </li>
                <p class='panel'>An Accredited Investor is an SEC classification for high net worth individuals.  An accredited investor is a self reported classification that must meet one of the following requirements;<br><br>

 &nbsp; &nbsp;1.Have a personal net worth of over $1,000,000, excluding your primary residence.<br>
 &nbsp; &nbsp;2.Earn an annual income of $200,000 or more if you are filing as single.<br>
 &nbsp; &nbsp;3.Earn an annual income of 300,000 or more if you are filing as married.<br>
 &nbsp; &nbsp;4.Be investing on behalf of an institution, fund or family office.<br>

                </p>

                <li>Angel Group </li>
                <p class='panel'>An angel group is an organized group of angel investors who find, research and invest startup companies. Annual membership fees for a typical angel group are around $3,000- $5,000.  The average check size for most angel investors is $25K-50K per investment.  </p>

                <li>Cap (on a Convertible Note)</li>
                <p class='panel'>The cap on a convertible note sets a maximum valuation amount at which an investment made can convert into equity. Typically investors get the lesser of the next qualified pricing round.  Ex: If the cap on a note is $7 million and the next round is priced at $10 million pre-money valuation, the convertible note will convert at $7 million.  If the cap on the note is $7 million and the next round is priced at $5 million, the convertible note will convert at $5 million.</p>

                <li>Cap Table </li>
                <p class='panel'>A capitalization table is a table that provides an analysis of the founder’s and investor’s percentage of ownership, equity dilution and value of equity in each round of investment.</p>

                <li>Common Stock </li>
                <p class='panel'>A security that represents ownership in the company.  Preferred stock holders take priority over common stockholders.  A little known fact is that all preferred stock is converted to common stock during an IPO, leaving investors who held preferred stock with common.
 </p>

                <li>Convertibe Note </li>
                <p class='panel'>Convertible notes are often offered to angel investors by startups who wish to raise funding without establishing a specific valuation for the company. Convertible notes are structured as loans at the time an investor makes an investment.  The outstanding balance on the loan is converted into equity shares once the company is valuated during a Series- A valuation round.
</p>

                <li>Due Diligence </li>
                <p class='panel'> The Angel Capital Association (ACA) defines due diligence in the venture industry as the investigation and analysis an investor performs to see if an investment opportunity meets the investor’s criteria for funding. For angels’ as well as VCs’, the primary objective of due diligence is to mitigate investment risk by gaining an understanding of a company and its market as well as determining the suitability of the investment for the portfolio.
</p>

                <li>Fund</li>
                <p class='panel'>A fund is a legal entity (usually an LLC) that manages money from investors looking for private equity in startup and later stage companies with strong growth potential. Investors in the fund own units of the fund (LLC) and the fund itself owns equity in the private companies.  The fund has a general partner who manages all operations of the fund.</p>

                <li>Interest (in a Convertible Note)</li>
                <p class='panel'> Since each convertible note is essentially a loan from an angel investor to a startup company, there is an interest rate on the loan which is paid back at the end of the loan period.  The loan amount will convert along with the interest into equity when the company is valuated.</p>

                <li>IRR </li>
                <p class='panel'> (Internal rate of return) A measurement used to determine the profitability of an investment.</p>

                <li>Non-Accredited Investor </li>
                <p class='panel'> An investor that does not fall within the SEC requirements to be an accredited investor (See Accredited Investor)
</p>

                <li>Preferred Stock </li>
                <p class='panel'>A class of ownership in a company that has a preferential claim on its assets and earnings over that of common stock.
</p>

                <li>Pro Rata Rights</li>
                <p class='panel'> Pro Rata Rights give investors the right to buy back into an investment at a later funding round to keep their original ownership % amount in the company.
</p>

                <li>SEC (Security Exchange Comission)</li>
                <p class='panel'>The governing body responsible for enforcing securities laws in the United States of America.
</p>

                <li>Seed Round</li>
                <p class='panel'>Typically a startup company's first round of funding.  The seed round comes before the Series-A valuation round and before the company has a true valuation. A seed round in the Silicon Valley is typically done with a convertible note that converts to equity after Series-A.</p>

                <li>Valuation</li>
                <p class='panel'>Valuation is essentially the value of your company at any given stage of funding.  It is the price at which you should be able to sell your company for on the market.  From a startup perspective, it determines the amount of money you will receive from an investor for what ownership percentage you will give up.</p>

                <li>Venture Capital Firm</li>
                <p class='panel'>Also known as a VC firm, a Venture Capital firm is a group of investors (Limited Partners) who pool money together to invest into private companies.  The Limited partners are represented and managed by the General Partner, who makes the investment decisions for the fund.  Some of the wealthiest individuals in the world are partners at VC firms in Silicon Valley.</p>

                <li>Vesting</li>
                <p class='panel'>The process by which an employee accrues ownership of stock in a company.  The usual terms in the Silicon Valley are a 4 year vesting cycle with a 1 year cliff.  4 year vesting means the employee will be vesting stock until the 4th year when they will have earned all their stock options.  The 1 year cliff means that the employee will not start accruing stock ownership unless they have been working at the company for at least 1 year.  This prevents the employee from leaving abruptly within the first year and leaving with stock options in the company. At the end of the vesting term, the employee has the right to purchase all the vested stock from the company at a discount.  A more aggressive vesting schedule is typically given in lieu of a higher salary.</p>

                <li>Vetting</li>
                 <p class='panel'>A screening process that an investor (usually angel group or VC firm) goes through to determine whether or not a startup has what it takes to become successful down the road.  There is no formula to determine whether a startup company will be successful or not ,but proper vetting can make a big difference in determining the sustainability of a startup.  Vetting is measured by hours of due diligence performed on a startup company.  The more hours of due diligence performed, the better the vetting.
</p>
            </ul>

            <br><br><br>

            <div class= "centered twenty">
              <%= button_to "Get Started", {:action => 'get_started'}, {:id => 'push'} %>
            </div>

        </div>
      </div>
    </div>
  </body>

</html>
<script>
$(document).ready(function(){
    $(".education-center-list li").click(function(){
        $(this).toggleClass('open');
        if($(this).hasClass('open') ){
            $(this).next().slideDown("slow");
        }else{
            $(this).next().slideUp("slow");
        }
    });
});
</script>
