
  <div class= "wrapper centered">
    <div class= "header">
      <h1>Unverified Email</h1>
    </div>
    <div class= "signin-box error">
      <h2 class= "centered">Sorry, you did not verify your email.</h2>
      <br>

      <ul class= "left">
        <li>
         Please check your email box, including spam.
        </li>



      </ul>
      <br>
      <p>If you believe there is an error, please contact us.</p>
      <br>
      <button class= "login-button" onclick= "home()">Go Back to Homepage</button>
    </div>
  </div>
