<html>
<head>
	<title>DreamFunded | Why Invest</title>
</head>

<body><div class= "wrapper">
	<div class= "header"><h1>Why Invest</h1></div>
	<div class= "word-content">
	<div class= "text-content">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/eENL6qO2XdA" frameborder="0" allowfullscreen></iframe>

	<p class="paragraph">Angel investors who are members of US angel groups typically write checks for $25,000 – $50,000 for each deal in which they invest. After two years and writing four or five checks, they typically have invested over $100,000 in this asset class and have seen no returns. In fact, after two years it is clear that a few of those invested companies are not doing well. So, they decide to wait and see the outcome of their angel investing. This is exactly the wrong angel investing strategy.</p>

	<p class="paragraph">Wiltbank and others have taught us that less than 10% of angel deals provide all of angel upside return on investment. To mitigate this risk, the obvious strategy is to invest in lots of startups. In fact, in a study of returns, Luis Villalobos (founder of the Tech Coast Angels) noted that angels should invest in at least 25 lifetime deals to adequately reduce the risk of this asset class. But, these same angels who have invested in 4-5 deals would counter than they have no intention of committing as much as $1 million to angel investing. DreamFunded can help resolve this conundrum.</p>

	<p class="paragraph">As a portfolio strategy, angels should decide in advance how much they of their net worth they are willing to commit to angel investing. Most choose to invest between 3% and 10% of their net worth to this asset class. To determine how much to invest in each deal, divide the size of your angel commitment by 50! Why 50? Because you should plan on making two investments per company and invest in 25 companies. (Entrepreneurs almost always need more money than they think they do.)</p>

	<p class="paragraph">To demonstrate this calculation: A typical US accredited investor has a net worth of just under $2.5 million. If this typical angel commits 10% of this $2.5 million, he/she has $250,000 reserved for this asset class. Dividing $250,000 by 50 investments suggests that each investment should be about $5,000.</p>

	<p class="paragraph">Unfortunately, the minimum investment in many early stage deals is $25,000. But, DreamFunded consolidates many smaller investments into single larger investments in these startups – an opportunity for the majority of startup investors to quickly develop a portfolio of 50 investment in at least 25 startup ventures.</p>

	<p class="paragraph">Furthermore, angels who are members of US angel groups must commit to spending a significant amount of time helping the group do “due diligence” as part of their groups membership requirements. DreamFunded brings members deals that have already been vetted by established angel groups, which reduces the time required by DreamFunded members to familiarize themselves with investment opportunities.</p>

	<p class="paragraph">DreamFunded provides members with the opportunity to invest as little as $1,000 in as many vetted deals as is practical to complete the investor’s portfolio strategy.</p>

	<p class="subtitle">How DreamFunded Works</p>

	<p class="paragraph">DreamFunded is an equity crowdfunding platform that allows its members to efficiently browse, screen, and fund investment opportunities. Investors get visibility to pre-screened startup deals, with the ability to build a diversified portfolio with low dollar amounts. They can view investment profiles and sign legal documents through the self-service portal.</p>

	<p class="paragraph">DreamFunded creates a separate single-purpose entity (an LLC) to invest in each of the companies listed on the platform. All investments from members will be made through this single-purpose entity. Once a company has reached its investment goal, DreamFunded will withdraw a percentage from the total funds collected for each company, for administering the LLC and providing annual K-1s to its members. LLC documents will stipulate a percentage of carried interest from the total gains for DreamFunded, Inc.</p>

	<p class="paragraph">DreamFunded provides members with additional information on the invested companies, such as financial reports, milestone reports, public announcements, and articles of interest.</p>

	<p class="subtitle">How to Invest with DreamFunded</p>

	<p class="paragraph">1. Register for free on the DreamFunded website as an accredited investor</p>
	<p class="paragraph">2. Browse through the list of projects on the platform approved by the DreamFunded Investment Committee</p>
	<p class="paragraph">3. Review due diligence report for specific companies to fit into personal investment strategy</p>
	<p class="paragraph">4. Click “INVEST IN THIS PROJECT”</p>
	<p class="paragraph">5. Review and sign terms of investment and legal documents via online portal</p>
</div>
</div>
</div>
</body>
</html>