<html>
<head>
	<link rel= "stylesheet" href= "../../assets/stylesheets/welcome.css.scss">
	<title>DreamFunded | Log In</title>
</head>

<body>
	<div class= "sign-in-box spaced-vert">
		<h2 class= "spaced-letters centered">LOGIN</h2>
		<p style= "margin-top: 30px;"></p>
			<form method= "post" action= "*******MIN WHERE DO I DEPOSIT INFO************">
				<div class= "sign-in-content">
					<p class= "spaced-letters">USERNAME</p> <input type= "text" placeholder= "Your Username"class= "underline-style" name= "username">
				</div>
				<div class= "sign-in-content">
					<p class= "spaced-letters">PASSWORD</p> <input type= "password" placeholder= "Your Password" class= "underline-style">
				</div>
				<div class= "centered login-box"> 
					<input class= "login-button spaced-letters" type= "submit" value= "Login" name= "commit"><br><br>
					<a href= "" style= "margin-top: 15px;">Forgot your password?</p>
				</div>
			</form>
	</div>
</body>

</html>