<html>
<head>
	<link rel= "stylesheet" href= "../../assets/stylesheets/welcome.css.scss">
	<title>DreamFunded | Log In</title>
</head>

<body>
	<div class= "sign-in-box spaced-vert">
		<div style= "margin-top: 30px;"> </div>
		<h2 class= "spaced-letters centered">Sign In</h2>
		<div style= "margin-top: 30px;"> </div>
			<form method= "post" action= "*******MIN WHERE DO I DEPOSIT INFO T.T ************">
				<div class= "sign-in-content grid">
					<input type= "text" placeholder= "USERNAME / EMAIL"class= "underline-style" name= "username">
					<input type= "password" placeholder= "PASSWORD" class= "underline-style" name= "password">
				</div>

				<div class= "centered login-box"> 
					<input class= "login-button spaced-letters" type= "submit" value= "Login" name= "commit"><br><br>
					<a href= "" style= "margin-top: 15px;">Forgot your password?</p>
					<div style= "margin-top: 30px;"> </div>
				</div>
			</form>
	</div>
</body>

</html>