<div>
	You've just invested in <%= @company.name%>
	<p><b>What to expect next:</b> We’ll confirm when your $10,075 hits the escrow account. It'll take 5-7 business days. Keep track of your investments in your portfolio. </p>

	<div class="row">
		<label>Investment: </label>
		<label>Fees: </label>
		<label>Total: </label>
	</div>
	<div class="row">
		<h1> Introduce Your Self </h1>
	</div>
</div>
