

<div class= "wrapper">
  <div class= "box register-wrap">
    <h2 class= "centered"> Upload New Document for <%= @company.name if @company%> </h2>
      <%= render 'form' %>

    <div class= "register-content">

    </div>
  </div>
</div>
