<div class= "wrapper">
  <!-- <div class= "header"><h2>Thank you for Investing</h2></div> -->
  <div class= "thank-you-margin">
  <div class= "text-content">

  <p class="subtitle darkblue centered">Thank You for Investment</p>
  <hr>

<!--   <p class="paragraph">We will be contacting you within 24 hours or less to provide you with the wiring
  information.</p> -->

  <p class="paragraph" data-url="<%= @url %>" >Please sign documents we sent you on <b><%= current_user.email%><b> and return to our website.</p>

  <p class="paragraph">The money will go into an escrow account at Wells Fargo Bank until the deal is
  closed. If the deal does not close for any reason you will get 100% of your funds
  returned to you by wire back to you.</p>

  <p class="paragraph">If you have any question please let us know by emailing <%= mail_to "manny@dreamfunded.com", "manny@dreamfunded.com" %>.
  Thanks for investing with DreamFunded.</p>

  <br><br><br><br>

  <div class= "centered twenty">
    <%= link_to "Go Back to Offerings", {:action => 'index'}, method: 'get', :id => 'push' %>
  </div>



</div>
</div>
</div>
  // <script type="text/javascript">
  //   setInterval(function(){
  //     if($('.paragraph').first().data('status') == 'completed'){
  //       window.location = "/payment";
  //     }else{
  //       location.reload();
  //     }
  //   }, 10000);
  // </script>

  <script type="text/javascript" src="https://s3.amazonaws.com/cdn.hellofax.com/js/embedded.js"></script>
  <script type="text/javascript">
      HelloSign.init("c0ea13cb32b929d77be5043c0fff5b9a");
      HelloSign.open({
          url: $('.paragraph').first().data('url'),
          skipDomainVerification: false,
          allowCancel: true,
          redirectUrl: "http://localhost:3000/payment",
          messageListener: function(eventData) {
              console.log(eventData);
              // alert("HelloSign event received" + eventData);
              if (eventData.event == HelloSign.EVENT_SIGNED) {
                  // Go to a signature confirmation page
                  document.location = "/payment";
              }
          }
      });
  </script>
