<% title "DreamFunded | Contact Us" %>
<div class= "wrapper"><div class= "box signin-box centered">

  <div class="row">
    <div class=" active">
      <h2 class= "darkblue no-margin centered"><a  id="login-form-link">Thank You</a></h2>
      <br>
    </div>
  </div>

  <div class= "login-container">

  </div>

</div>

