<div class= "wrapper">
  <!-- <div class= "header"><h2>Thank you for Investing</h2></div> -->
  <div class= "thank-you-margin">
  <div class= "text-content">

  <p class="subtitle darkblue centered">Thank You for Investment</p>
  <hr>

  <p class="paragraph">We will be contacting you within 24 hours or less to provide you with the wiring
  information.</p>

  <p class="paragraph">The money will go into an escrow account at Wells Fargo Bank until the deal is
  closed. If the deal does not close for any reason you will get 100% of your funds
  returned to you by wire back to you.</p>

  <p class="paragraph">If you have any question please let us know by emailing <%= mail_to "manny@dreamfunded.com", "manny@dreamfunded.com" %>.
  Thanks for investing with DreamFunded.</p>

  <br><br><br><br>

  <div class= "centered twenty">
    <%= button_to "Go Back to Offerings", {:action => 'index'}, method: 'get', :id => 'push' %>
  </div>


</div>
</div>
</div>
