  <h2>Hello,</h2>

  <p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Thank you for submitting your company. We will review your information and be in contact within 24-48 hours.</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>DreamFunded Team</p>
