<p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>Hello <%= @user.first_name%>,<p>

  <p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>Shareholder made a counter offer. Please review and respond </p>

  <p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>Proposed share price <%= @price%>
</p>
   <p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>Proposed number of shares <%= @number%>
</p>


<p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>Sincerely,
</p>

<p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>The DreamFunded Team</p>



