<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Dear <%= @name %>,<p>

  <p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>We received your application to raise on our platform for User’s Company Name. We created DreamFunded to help everyday entrepreneurs get access to capital. We hope that our portal helps you achieve funding, so you can focus on what you do best.
  </p>

  <p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Every startup that applies goes through a three stage vetting process: Basic Screening, Interview, and Research. You are currently on the Basic Screening stage and if selected, you will interview with Manny Fernandez, CEO of DreamFunded and investor on CNBC’s Make Me A Millionaire Inventor. If you pass the interview, you will be “Pre Approved” for funding. We do further research and analysis on your company at this point, but most will pass unless there are major securities fraud violations or criminal activity found with someone on your team. We will respond to you in 3 business days.
</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>If you wouldn't mind, we’d love it if you answered one quick question: How did you hear about DreamFunded?</p>


<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>We ask because knowing what made you sign up is really helpful in making sure that we are delivering on what our users want. Just hit the “reply” button and let me know.
</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>In the meantime check out our blog so you can get familiar with the process.</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Sincerely,
</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Manny Fernandez</p>










