<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Hi <%= @user.first_name %>,<p>

  <p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>
    Thank you for investing $<%= @investment.invested_amount %> (<%= @investment.number_of_shares %> shares) in <%= @investment.company.name %>!

  </p>

  <p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>PLEASE NOTE: If your investment has any errors, please send us an email at <a href="mailto:info@dreamdunded.com" target="_blank">info@dreamdunded.com</a> within 48-hours of investment to make any changes.

</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>
  It may take 7-10 business days for your investment to transfer into escrow. You will receive an email from us when your funds have been transferred.  If there are any issues or your investment has not been transferred, a member of the DreamFunded team will reach out to you with further instructions.
</p>


<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>To view your investment information, login to your Investor Profile by <a href='http://www.dreamfunded.com/users/sign_in'>clicking here</a>.
</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>
  If you have any questions, please email us, visit our <a href='http://www.dreamfunded.com/faq'>FAQ</a> section and our <a href='http://www.dreamfunded.com/education'>Education Center</a> or chat with us at the bottom right corner of the main page (M-F, 8AM - 6PM PST).
</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Thank you for your investment and for choosing DreamFunded.
</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>-The DreamFunded Team
</p>

