
<p style='font-family:Arial,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>
Congratulations, <%= @name %> has invited you to join DreamFunded.
<p>

  <p style='font-family:Arial,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>
    DreamFunded is a world-class equity crowdfunding platform, offering liquidity for employees in pre-IPO tech companies. Membership in the community is screened and only available to investors who meet the self-accreditation requirements. Due to upcoming rule changes regarding the JOBS Act in May of 2016, the accreditation requirements will change, allowing non-accredited investors to access DreamFunded investments. DreamFunded Members can make investments as low as $3,000.
</p>

<p style='font-family:Arial,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>If you would like to schedule a quick phone call to learn more about our platform, please sign up for a time by following this link: <a href='meetme.so/dreamfunded'>meetme.so/dreamfunded</a></p>

    <form action="https://dreamfunded.com/accept-invite/">
        <input type="hidden" name="token" value="<%=@token%>">
        <input type="hidden" name="email" value="<%=@email%>">
          <button  style="
            display: block;
            font-family: Arial;
            font-size: 18px;
            max-height: 50px;
            height: 50px;
            text-decoration: none;
            max-width: 540px;
            width: 540px;
            background: #09C;
            border: none;
            border-collapse: collapse;
            border-radius: 5px;
            color: #fff;
            display: block;
            line-height: initial;
            padding: 12px 20px;
            text-align: center;
            vertical-align: top;
            max-width: 540px;
            cursor: pointer;
            ">Accept Invite</button>
    </form>

<p style='font-family:Arial,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>We look forward to welcoming you to DreamFunded!
</p>

<p style='font-family:Arial,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>The DreamFunded Team</p>








