<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>
    <%=@user.name %>  requested to join <%= @group.name %>
</p>


<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Please review his request and approve him if he fits group policy. </p>

<a> </a>
