<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Dear <%= @name %>,<p>

  <p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Welcome to our network of visionary investors. DreamFunded was created to help fund entrepreneurs so they can change the world through innovation; and give you, the investor, the opportunity to be part of that promise. We hope that our portal helps you achieve your goals.

  </p>

  <p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>To get started fundraising on DreamFunded, fill out an application here: <a href="http://dreamfunded.com/funding_goal">http://dreamfunded.com/funding_goal</a>
</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>DreamFunded’s investment team will review your application and respond within 72 hours.</p>


<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Sincerely, </p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Manny Fernandez</p>