<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Hi <%= @name %>,</p>


  <p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Welcome to our network of visionary investors. DreamFunded was created to help fund entrepreneurs so they can change the world through innovation; and give you, the investor, the opportunity to be part of that promise. We hope that our portal helps you achieve your goals.
</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>If you wouldn't mind, I’d love it if you answered one quick question: how did you hear about DreamFunded?</p>


<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>I am asking because knowing what made you sign up is really helpful in making sure that we are delivering on what our users want. Just hit the “reply” button and let me know. </p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>By the way, if you are en entrepreneur and you want to raise from our network. We made it really easy for you. Click here</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>We set up ongoing education for you, so be sure to follow our blog and Social Media. You may begin investing in our featured companies now.
</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Sincerely,</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px;'>Manny Fernandez</p>












