<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Hi <%= @name %>,<p>

  <p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Welcome to <a href='https://dreamfunded.com/'>DreamFunded.com. </a>
  </p>

  <p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>My name is Manny Fernandez, and I will be your personal contact at DreamFunded.  I will be happy to answer any questions you may have and take you through some of the exciting aspects of our platform.
</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>If you would like to schedule a quick phone call to learn more about our platform, please sign up for a time by following this link: <a href='meetme.so/dreamfunded'>meetme.so/dreamfunded</a></p>


<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Please do not hesitate to reach out if you have any questions. I look forward to working with you. </p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Thanks again for signing up at <a href='https://dreamfunded.com/'>DreamFunded.com.</a> </p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>P.S. How did you hear about us?
</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Manny Fernandez, CEO/ Co-Founder</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px;'>1-415-349-3832</p>












