<p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>You're receiving this e-mail because you or someone else has requested a password for your user account at DreamFunded.com.
It can be safely ignored if you did not request a password reset. Click the link below to reset your password.
</p>
<p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'><a href='http://localhost:3000/new_password?reset_password_email=<%= @user.email %>'>Change my password</a></p>

<p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>Sincerely,</p>


<p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>The DreamFunded Team</p>

<p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>Do you have a question? Please email us: info@dreamfunded.com</p>

