<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Dear <%= @name %>,<p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>We regret to inform you that you have not been selected this time. There could be many reasons for this. Below are the three most common reasons we don't accept startups:
</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>It may be that you are raising too soon as it is in most cases.
We get many entrepreneurs who apply with a great idea, but no real prototype or Minimum Viable Product (MVP). Ideas are great, but execution is greater. If this sounds like you, we encourage you to get a little more traction. Travis Kalanick, CEO of Uber advises entrepreneurs to hold off on fundraising until there is major traction. This makes you a better problem solver and makes your startup more attractive. Read our blog on traction here.
</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Perhaps your idea is in a space that is over crowded.
For example, we get applicants who try to compete with the Ubers and SnapChats of the world. Ridesharing was a great idea five years ago, but the market is saturated now with big players who have too much capital to compete against. If this sounds like you, try a pivot. Many startups find themselves in this hard place and the best entrepreneurs find a way to create value by solving a problem that exists in the market.
</p>


<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Perhaps you need to revisit your idea all together.
While in some cases it is difficult to tell how the market will react to your product there are ways for you to gage the market now. In some instances, there is no market as was the case for the great Unicorns of the Past that include Facebook, Uber and AirBnB. These companies created a new market by getting users, but they did not start off with the business model that currently makes them great. They changed their ideas and improved them over time. Perhaps your idea needs some revisiting.</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>All in all, DON’T GIVE UP. We could be wrong about your project. We found that the best entrepreneurs have been rejected many times until their ideas were proven true by their own fierceless perseverance and hustle. This is truly the hardest part of our job, but also the most exciting because the real winners will figure it out and re-apply in the future. We encourage you to apply again when you're ready.</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Sincerely,</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Manny Fernandez</p>
