<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Dear <%= @name %>,<p>

  <p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Congratulations! We reviewed your profile and we are excited to invite you on a one-on-one chat with our CEO Manny Fernandez. You can book him here:
  </p>

 <p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>
 	<a href="http://www.meetme.so/dreamfunded">meetme.so/DreamFunded</a>
</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>In the meantime, you can get started on the final documents we need. This link will take you through a questionnaire that helps us complete your application. Link to Form C</p>


<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Sincerely,</p>

<p style='font-family:Arial,Palatino,serif;font-size:13px;margin-bottom:24px;padding:0px;line-height:18px;max-width:540px'>Manny Fernandez</p>
