<p style='font-family:Georgia,Palatino,serif;font-size:16px;padding:0px;max-width:540px'>Hello <%= @user.first_name%>,</p>

<p style='font-family:Georgia,Palatino,serif;font-size:16px;padding:0px;max-width:540px'>Please click on a link below to verify your DreamFunded account.</p>

<p style='font-family:Georgia,Palatino,serif;font-size:16px;padding:0px;max-width:540px'><a href='http://www.dreamfunded.com/users/verify?email=<%= @user.email %>'>Verify</a></p>

<p style='font-family:Georgia,Palatino,serif;font-size:16px;padding:0px;max-width:540px'>If you didn't request this, please ignore this email.</p>
