<p>Hello <%= @user.email %>!</p>

<p>Please click on a link below to verify your DreamFunded account.</p>

<p><a href='http://www.dreamfunded.com/users/verify?email=<%= @user.email %>'>Verify</a></p>

<p>If you didn't request this, please ignore this email.</p>
