<p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>Hello <%= @user.first_name%>,<p>

  <p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>Thank you for signing up for a DreamFunded membership, we are very excited to have you join us. </p>

  <p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>If you haven't already reviewed our list of past offerings, feel free to take a look at our portfolio to see some of the companies that we have invested in.
</p>

<p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>Feel free to contact us if you have any questions or comments.</p>


<p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>Click <a href='https://www.dreamfunded.vc/users/login'>Here</a> to login to your account.</p>

<p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>Again, thank you for signing up, we look forward to working with you.</p>

<p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>Sincerely,
</p>

<p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>The DreamFunded Team</p>













