
  <html>
  <head>
    <% title "DreamFunded | About" %>
  </head>

  <body><div class= "wrapper">
  <div class="header">
    <h1 class="centered">Congratulations!</h1>
  </div>

  <div class= " congrats-content "><div class="text-content">
   <center><span class='congrats_title'>Congratulations! Your Investment of
    <%= @investment.number_of_shares %> shares($<%= sprintf "%.2f", @investment.invested_amount%>) in <%= @company_name%> has been submitted.</span></center><br>

    <!-- <div>Status: Pending</div><br> -->

    <p>Thank you for your investment in <%= @company_name%>. Spread the word!</p>

    <span class='important_info'>Important Information</span>

    <p class='faq-answer'>
      Your Investment may take up to 10 days to transfer from your account to the designated escrow account. If the transfer clears, you will receive an email confirmation that your investment has been received. If your transfer does not clear, you will be contacted by a DreamFunded team member with more information and instructions for next steps. You can view your investment in your Dashboard at any time.
    </p>

    <i>When can I cancel my investment?</i>
    <p class='faq-answer'>You can cancel your investment at any time up until 48 hours before the target deadline. If the campaign reaches its target offering amount before the deadline and wishes to change the deadline, you will be notified five business days before the new deadline and you can cancel 48 hours before this date.</p>

    <i>When will I become an investor in the offering?</i>
    <p class='faq-answer'><strong>You will not become an investor in this offering unless your funds are cleared in escrow and the campaign reaches its target offering amount by the target deadline.</strong></p>

    <span>For more information, visit our educational page.</span>
    <p class='faq-answer'>Please contact a DreamFunded team member at mor1084leo@gmail.com with any questions. If you would prefer to discuss your investment over the phone, please call (415) 349-3832.

    <p>Thank you!</p>

    <p>The DreamFunded Team</p>

    </p>

  </div></div>


  </div>
  </body>
  </html>

</div>

