<% title "DreamFunded" %>
<div class= "wrapper">
  <div class="header-container shadow">
    <div class= "header centered"><h2 id='payment-title'>Congratulations!</h2></div>
  </div>

  <div class= " payment-box centered">
   Congratulations! Your investment of 30 shares($60.00) in CompanyName has been submitted.
  </div>

  <div>Status: Pending</div>

  <div>Thank you for your investment in CompanyName. Spread the word!</div>

  </div>
</div>

