<html>
  <head>
    <% title "DreamFunded | Blog " %>
  </head>

  <body>
    <div class= "wrapper">


      <div class= "posts-panel ">
        <%= link_to "↩  Back", :back,  {:class => 'darkblue hide-on-mobile'} %>
        <div class= "education-text-content text-content">

            <div class='education-center-list'>

              <h2 class= "darkblue centered"><%= @post.title%></h2>

              <div class='post_content'><%#= post.content%>
                <%= @post.content.html_safe %>
              </div>

            </div>

            <br><br><br>


        </div>
      </div>
    </div>
  </body>
</html>


