<% title "DreamFunded | Invest" %>
<div class= "wrapper"><div class= "box get-funded ">

  <div class="row">
    <div class=" active">
      <h2 class= "darkblue no-margin centered"><a  id="login-form-link">Register Correctly</a></h2>
      <br>
      <h3 class= "darkblue no-margin centered">Please review this information with legal counsel.</h3>
    </div>
  </div>

  <div class= "login-container">

  </div>

</div>
