/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.wrapper {
	margin: 0;
	margin-top: 50px;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Calibri';
	background: #ECECEC;
}

p {
	font-size: 16px;
	line-height: 130%;
}

hr {
	border: none;
	border-top: 1px solid #CCCCCC;
}
.centered{
	text-align:center;
}

.header-container{
	background-color:white;
	z-index: 300;
}

.header {
	background: #0D87B3;
	padding: 10px;
	color: white;
	text-align: center;
	box-shadow: 0 4px 8px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
	position: relative;
}

.word-content {
	margin: 0 auto;
	width: 80%;
	background: white;
	padding: 20px;
	padding-bottom: 100px;
	margin-bottom: 100px;
	min-height: 400px;
}

.text-content {
	margin: 70px;
}

.sides {
	margin: 20px 50px;
}

.indent {
	text-indent: 50px;
}

.darkblue {
	color: #0D87B3;
}

.darkblue a {
	color: #0D87B3;
}

.remove-button {
	cursor: pointer;
	float: right;
	outline: 0;
	border: none;
	position: absolute;
	right: 10px;
	top: 10px;
	background: transparent;
}

.twenty {
	font-size: 20px;
}

.twentyf {
	font-size: 25px;
}

.normal {
	line-height: 50%;
}

.no-margin {
	margin: 0;
}

.active {
	border-bottom: 1px solid #CCCCCC;
}

.nodec {
	text-decoration: none;
}