// Place all the styles related to the Bids controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.target-share-priece{
  background-color:#f0f0f0;
}
.bid-block{
  width: 40%;
  display: inline-block;
}
.bids-content {
    margin: 0 auto;
    width: 60%;
    background: white;
    padding: 20px;
    padding-bottom: 100px;
    margin-bottom: 100px;
}
.bids-block1{
  vertical-align: top;
      display: inline-block;
      width: 15%;
}
.bid_block3{
  vertical-align: top;
  display: inline-block;
  width: 20%;
}
