#funding_goal{
  margin-bottom: 10px;
}

.funding_goal_list{
  margin-left: 11%;
  width:73%;
}
.funding_goal_list_item{
  margin-bottom: 15px;
}
.select-100-width{
  width: 99% !important;
}
.campaign_text_area_width {
  width: 97.7% !important;
}
