$lightblue: #0B6E91;
$darkblue: #0d87b3;
$gray: #DFDFDF;
$darkgray: #B4B4B4;
$lightgray: #ECECEC;

$buttondark: #0A6C8F;//#284B82;
$buttonlight: #0D87B3; //#3A6EC2;
$buttongray: #878787;

.shadow {
	box-shadow: 0 4px 8px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
}