// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.wrap {
	font-family: "Calibri";
	width: 100%;
}

.header {
	background: white;
}

.companies-container {
	display: table;
	width: 85%;
	margin: 0 auto;
	padding-bottom: 20px;
}

.company-container {
	min-width: 200px;
	width: 200px;
	height: 430px;
	padding: 5px 10px;
	margin: 20px 1%;
	float: left;
	background: white;
	box-shadow: 0 4px 8px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
	position: relative;
}

.company-image {
	position: relative;
	width: 180px;
	height: 180px;
	padding: 10px;
	vertical-align: middle;
	display: table-cell;
	box-shadow: 0 4px 8px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
	margin: 0 auto;
}

.image-wrap {
	text-align: center;
}

.image {
	max-width: 170px;
	max-height: 170px;
}

.company-description {
	margin: 15px 5px;
	height: 200px;
}

.text {
	height: 190px;
	overflow: auto;
	border-bottom: 10px solid white;
}

.company-button {
	background: $darkblue;
	box-shadow: 0 4px 8px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
	padding: 10px;
	font-size: 15px;
	width: 100%;
}

.button-wrap {
	text-align: center;
}