// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.wrap {
	font-family: "Calibri";
	width: 100%;
}

.gray {
	color: $lightgray;
}

.document-url{
	color: grey;
}

.companies-container {
	display: table;
	width: 1000px;
	margin: 0 auto;
	padding-bottom: 20px;
}

.company-container {
	display: table-cell;
	width: 270px;
/*	height: 480px;*/
	padding: 20px;
	margin: 20px 1%;
	float: left;
	background: white;
	position: relative;
}

.register-content {
	margin-top: 40px;
}

.company-image {
	height: 200px;
	width: 290px;
	display: table-cell;
	vertical-align: middle;
	position: relative;
}

.image-wrap {
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

.image {
	max-width: 180px;
	max-height: 180px;
}

.image-gray {
	filter: grayscale(100%);
	 -webkit-filter: grayscale(100%);
	max-width: 180px;
	max-height: 180px;
}

.company-description {
	margin: 5px;
	height: 200px;
}

.text {
	height: 160px;
	overflow: auto;
	border-bottom: 10px solid white;
}

.company-button {
	background: $darkblue;
	margin-top: 10px;
	padding: 10px;
	width: 100%;
	border: none;
	color: white;
	cursor: pointer;
}

.company-button:disabled {
	background: gray;
	cursor: default;
}

.company-button:focus {
	outline: 0;
}

.profile-button {
	width: 80%;
	margin: 20px auto;
	display: block;
	font-size: 17px;
}
.mail-to-button {
	text-align: center;

}

.button-wrap {
	text-align: center;
}

.register-wrap {
	width: 500px;
}

.description-wrap {
	border: 1px solid gray;
	margin: 25px auto;
}

.description-box {
	width: 95%;
	height: 200px;
	margin: 2%;
	border: none;
	outline: 0;
	font-size: 16px;
}

.company-title {
	font-size: 30px;
	text-align: left;
	width: 63%;
	float:left;
}

.indent {
	text-indent: 50px;
}

.no-margin {
	margin: 0;
}

.small-margin {
	margin: 10px 0;
}

.stats-container {
	float: right;
	width: 32%;
	margin-left: 3%;
	margin-bottom: 3%;
	/*height: 530px;*/
	border: 1px solid rgba(0,0,0,.2);
    margin-top: 10px;
}

.stats-container:hover {
	border: 1px solid $darkblue;
}

.stats-container:hover hr {
	border-top: 1px solid $darkblue;
}

.stats-image {
	max-width: 200px;
	max-height: 200px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
}

.profile-image-wrap {
	width: 200px;
	height: 200px;
	padding: 10px;
	margin: 10px auto;
	background: white;
	text-align: center;
}

.description-container {
	margin-top: 120px;
}

.numbers {
	/*height: 200px;*/
	width: 85%;
	//border: 1px solid gray;
	margin: 0 auto;
}

// .numbers-content {
// 	padding: 0 15px;
// }

.stretch {
	min-height: 600px;
}

.posted {
	font-size: 16px;
	text-indent: 100px;
}

.topbar {
	width: 100%;
	border-bottom: 1px solid gray;
	height: 30px;
}

.right {
	text-align: right;
	float: right;
}

.right-align {
	text-align: right;
}

.spaced {
	margin-right: 20px;
}

.meter {
	height: 10px;  /* Can be anything */
	position: relative;
	background: #CCCCCC;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 5px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-radius: 20px;
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

.orange > span {
  background-image: linear-gradient(to bottom, #0D87B3, #68C3F4);
}

.back {
	background-image: black;
	position: absolute;
}

.video-box {
	height: 400px;
	width: 500px;
	margin-top: -30px;
}
.max-width-image{
	max-width: 600px;
}
.invest-amount{
	text-align: center;
	width: 50% !important;
}
/*.youtube-video{
	width: 100%;
	height: 400px;
}*/
/*youtube-video different screene*/
@media  screen and (min-width: 480px){
	.youtube-video{
		width: 250px;
		height: 175px;
	}
}

/*# Tablet*/
@media  screen and (min-width: 768px){
	.youtube-video{
		width: 100%	;
		height: 400px;
	}
}

/*# Desktop*/
@media  screen and (min-width: 992px){
	.youtube-video{
		width: 400px;
		height: 300px;
	}
}
/*# Huge*/
@media  screen and (min-width: 1199px){
	.youtube-video{
		width: 500px;
		height: 400px;
	}
}
/*# Huge*/
@media  screen and (min-width: 1400px){
	.youtube-video{
		width: 500px;
		height: 400px;
	}
}

.image-max-width{
  max-width: 600px;
}

.section {
	border: 1px solid black;
	margin: 20px 0;
}

.team-band div {
	display: inline-block;
}

.team-box {
	width: 100%;
	height: 290px;
	overflow: scroll;
	margin-top: 1%;
	position: relative;
}

.team-pic {
	float: left;
	margin: 0 20px 10px 0;
}

.right-align {
	text-align: right;
}

.left-column {
	width: 45%;
	float: left;
	margin: 0 2%;
	height: 148px;
}
.left-column-portfolio {
	width: 45%;
	float: left;
	margin: 0 2%;
}

.right-column-portfolio {
	width: 100%;

	margin: 0 2%;
}

.profile-wrap {
	width: 1000px;
}

.fake-button {
	width: 80%;
	background: gray;
	color: white;
	text-align: center;
	padding: 15px 0;
	margin: 20px auto;
}

.thank-you-margin{
	margin-top: 100px !important;
	margin-bottom: 100px !important;
	width: 60% !important;
	margin: 0 auto;
	background: white;
	padding: 20px;
}
.margin-bottom-50{
	margin-bottom: 20px;
}

  /*R I B B O N*/

.ribbon {
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: absolute;
  left: -45px;
  top: 61px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}
.slide{
    width: Calc(100% - 196px); /*196px means both sides (left 98px and right 98px)*/
    margin: 0 auto;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #10a1d6;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
