////for new.html.erb in companies folder

.register-wrap {
	width: 500px;
}

.description-wrap {
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	margin: 25px auto;
}

.description-box {
	width: 95%;
	height: 200px;
	margin: 2%;
	border: none;
	outline: 0;
	font-size: 16px;
}
