.panel{
  display: none;
}
.flip{
  margin-bottom: -10px;
  font-size: 28px;
  text-decoration: underline;
}
.education-center-list li{
  cursor: pointer;
  padding-top: 5px;
  color: #0D87B3;
  font-size: 18px;
}
