@import 'colors';

.panel{
  display: none;
}
.flip{
  margin-bottom: -10px;
  font-size: 28px;
  text-decoration: underline;
}
.education-center-list li{
  cursor: pointer;
  padding-top: 5px;
  color: #0D87B3;
  font-size: 18px;
  margin-bottom: 10px;
}
.right-panel {

  vertical-align: top;
  width: 60% !important;
  display: inline-block;
}
.left-panel{
  margin-left: 5%;
  margin-right: 1%;
  width: 24%;
  display: inline-block;
  color: #0D87B3;
}
.left-panel a li{
 color: #0D87B3;
}
.education-item{
  border-bottom: 1px solid #9F9F9F;
  background-color: white;
}
.education-menu{
  font-size: 16px;
  margin-top: 0;
}
.education-menu li{
  list-style: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  padding: 1.5em;
}
.education-menu .active{
  box-shadow: 0px 0px 1px 1px #0D87B3, inset 0 0 1px 1px #0D87B3;
  border-bottom: 1px solid #0D87B3;
}
.education-title{
  font-size: 20px;
  margin-bottom: 5px;
}
.education-title a{
  color: #fff;
}
.education-center {
  text-align: left !important;
  padding-left: 115px !important;;
  padding-bottom: 30px !important;;
  padding-top: 20px !important;;
}
.education-links{
  padding-top: 10px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  font-family: 'proxima-nova',sans-serif;
}
.education-links:hover{
  text-decoration: underline;
  color:white;
}
.education-slogan{
  text-align: center;
  margin-top: 20px;
}
.education-button{
  padding: 17px;
  width: 35%;
  margin-top: 5px;
  background: $darkblue;
  font-size: 20px;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}

.education-button:hover {
  background: #0B6E91;
}
.education-button button{

}
.education-slogan div{
  color: #000;
  font-size: 18px;
  margin-bottom: 4px;
}
.for-investors-list {
  margin-left: 10%;
}
.for-investors-list-item {
  font-size: 20px;
  margin-bottom: 50px;
  text-decoration: none;
  list-style: none;
}
.for-investors-list-item a {
   color: #666;
}
.for-investors-list-item:first-child {
  margin-top: 30px;
}
.for-investors {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
.for-investors-container {
  width: 80%;
  margin: 0 auto;
}
.right-line {
  border-right: 1px solid gray;
}
.education-category {
  text-align: center;
  margin: 15px auto;
  color: #000;
  text-decoration: none;
  list-style: none;
}
.category-container {
  border-bottom: 1px solid #CCCCCC;
}
