.event-name{
  display: block;
  font-size: 25px;
  line-height: 38px;
  font-family: Oswald;
  text-shadow: 0 1px 2px rgba(0,0,0,.2);
  font-weight: 400;
  margin-bottom: 5px;
  vertical-align: top;
  color: #10a1d6;
}
.event-name a{
  color: #10a1d6;
}
.event{
  padding: 20px;
  border-bottom: 1px solid #999;
  position: relative;
  padding-bottom: 10px;
}
.round-date{
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border-radius: 50% 50%;
  height: 60px;
  margin-right: 20px;
  padding: 10px;
  width: 60px;
  text-align: center;
  vertical-align: top;
}
.event-month{
  font-size: 16px;
  font-family: Oswald;
  margin-top: -5px;
}
.event-day{
  display: block;
  font-size: 30px;
  font-family: Oswald;
}
.event-block{
  display: inline-block;
  width: 75%;
}
.event-block1{
  vertical-align: top;
  display: inline-block;
  width: 10%
}
.event-block3{
  vertical-align: top;
  display: inline-block;
  width: 12%
}
.event-location{
display: block;
 margin-right: 12px;
}
.event-date{
 margin-right: 12px;
}
.events-content{
  margin: 0 auto;
  width: 75%;
  background: white;
  padding: 20px;
  padding-bottom: 100px;
  margin-bottom: 100px;
  /*position: relative;*/
}
.event-link a{
  color: #10a1d6;
}
.event-link{
  margin-top: 3px;
}
.event-learn-more{
  position: absolute;
  right: 25px;
  top: 48px;
}
.add-new-event{
  position: absolute;
  bottom: 0;
  left: 45%;
}
.event-edit-link{
  position: absolute;
  right: 65px;
  bottom: 0;
}
.event-delete-link{
  position: absolute;
  right: 0;
  bottom: 0;
}
.event-image{
  width: 100px;
  height: auto;
  max-height: 100px;
}




/*M O B I L E*/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .events-content{
    width: 95%;
  }
  .event-month{
    font-size: 25px;
  }
  .event-day{
    font-size: 40px;
  }
  .round-date{
    width: 80px;
    height: 80px;
  }
  .event-block1{
    width: 15%;
  }
  .event-block{
    width: 70%;
  }
  .event-name{
    font-size: 40px;
    text-shadow: none;
  }
  .event-date, .event-location, .event-link a{
    font-size: 2.5em;
  }

}
