.group-info-right-panel{
  position: absolute;
  width: 25%;
  max-width: 400px;
  right: 18%;
  height: 100%;
  top: 0;
  background-color: rgba(0,0,0,0);
}

.group-opacity-on-background{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
.group-cover-photo {
  min-height: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.group-blog-section{
  background-color: #f5f5f5;
  padding: 1% 12%;
  padding-bottom: 0;
}
.group-blog_wrapper{
    max-width: 700px;
    margin: 30px auto;
    padding: 30px;
    background: white;
    position: relative;
    border-radius: 4px;
    border: 1px solid #D0D3D6;
}

.number-of-members{
  font-weight: 500;
  font-family: Arial;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0;
}

.join-group-button {
  width: 42%;
  margin: 20px auto;
  display: block;
  font-size: 17px;
  border-radius: 4px;
}

.group-blog-title {
    font-family: 'Gotham',sans-serif;
    color: #424242;
    -webkit-font-smoothing: antialiased;
    font-size: 1.4rem;
    font-weight: bold;
}
