.group-info-right-panel{
  position: absolute;
  width: 25%;
  max-width: 400px;
  right: 18%;
  height: 450px;
  top: 0;
  background-color: rgba(0,0,0,0);
}

.group-opacity-on-background{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
