.background-image{
     background-image: asset-url("tower.jpg");
     height: 500px;
     background-size: 100%;
     background-repeat: no-repeat;
     background-position-y: 71%;
     width: 100%;
     color: #fff;
}
.background-opacity{
    background-color: rgba(0,0,0,0.4);
    height: 500px;
}

.website-title{
    padding-top: 130px;
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
.website-subtitle{
    font-family: 'Gotham',sans-serif;
    font-size: 1.5em;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-size: 25px;
    padding: 10px 0;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
.new-invest-button{
    margin: 0px;
    /*-webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
    font-weight: 700;
    font-family: 'proxima-nova',sans-serif;*/
    font-family: 'Gotham',sans-serif;
    font-size: 1.3em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
}
.margin-get-started-btn{
    margin-bottom: 100px;
}

.section-title{
    font-family: 'Gotham',sans-serif;
    font-size: 1.5em;
    color: #424242;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-bottom: 15px;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 1%;
}
.about-us-icons{
    cursor: pointer;
    font-family: 'Gotham',sans-serif;
    color: #424242;
    font-weight: 400;
    font-size: 30px;
    margin: 0 140px;
}
.inline-block-icons{
    display: inline-block;
    border-radius: 12px;
    margin: 50px 50px;
    width: 19%;
    vertical-align: top;
}
.about-us-images{
    width: 150px;
    height: 150px;
    padding: 25px;
}
.icon-description {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 3px;
    font-family: 'Gotham',sans-serif;
    color: #424242;
    -webkit-font-smoothing: antialiased;
    padding: 10px;
    text-align: center;
}
.mainSeen__slider1 .item img {
    height: 75px;
    width: auto;
    position: relative;
}

.about-investors-tab{
    display: none;
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
    .inline-block-icons{
        margin: 50px 10px;
        width: 28%;
    }
    .icon-description{
        font-size: 1.5em;
    }
    .website-title{
        font-size: 3em;
    }
    .website-subtitle, .about-us-icons{
        font-size: 2.2em;
    }
    .website-title{
        font-size: 3em;
    }
}
