// For login.html.erb

@import 'colors';

.signin-box {
	margin: 100px auto;
	font-family: "Lato", sans-serif;
	width: 500px;
	border: none;
	background: #ffffff;
	padding: 10px 40px 40px 40px;
}
.payment-box {
	margin: 60px auto;
	font-family: "Lato", sans-serif;
	width: 500px;
	border: none;
	background: #ffffff;
	padding: 10px 40px 40px 40px;
}

.userbox, .passbox, .userbox-login {
	outline: none;
	border: none;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	padding: 3px 6px;
	font-size: 16px;
	width: 100%;
	margin: 15px auto;
}

.userbox:focus, .passbox:focus {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.login-button {
	padding: 0 20px;
	min-width: 200px;
	height: 50px;
	background: $buttonlight;
	border: none;
	outline: 0;
	margin-bottom: 20px;
	font-size: 18px;
	font-family: "Lato", sans-serif;
	color: white;
}

.login-button:hover {
	background-color: $buttondark;
}

.signup {
	outline: 0;
	border: none;
	background: white;
	font-size: 16px;
}

.signup:hover{
	text-decoration: underline;
}

.notice {
	color: #0033CC;
	margin-top: 10px;
	font-size: 14px;
}

.tab {
	width: 49%;
	float: left;
	position: relative;
	display: table-cell;
	padding-bottom: 10px;
}

.row {
	position: relative;
	display: table;
	padding: 20px 0;
	width: 100%;
}

.right-line {
	border-right: 1px solid #CCCCCC;
}

.login-container {
	margin-top: 20px;
}

.expand {
	height: 200px;
}

.input-symbol{
  position: relative;
}

.input-symbol span{
  position: absolute;
  transform: translate(0,-50%);
  top: 50%;
  pointer-events: none;
  margin-left: 0.2em; /* adjust as appropriate */
}

.input-symbol input{
  text-indent: 1em; /* adjust as appropriate */
}



.tooltip {
  border-bottom: 1px dotted #000000;
  color: #000000; outline: none;
  cursor: help; text-decoration: none;
  position: relative;
}
.tooltip span {
  margin-left: -999em;
  position: absolute;
}

.tooltip:hover span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 250px;
}
.tooltip:hover img {
  border: 0;
  margin: -10px 0 0 -55px;
  float: left;
  position: absolute;
}
.tooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.classic { background: #FFFFAA; border: 1px solid #FFAD33; }
.critical { background: #FFCCAA; border: 1px solid #FF3334; }
.help { background: #9FDAEE; border: 1px solid #2BB0D7; }
.info { background: #9FDAEE; border: 1px solid #2BB0D7; }
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }

.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   color: #979797;
}
.styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(arrow-select.png) no-repeat right;
   background-position: 97%;
   border: 1px solid grey;
   background-size: 25px;
   margin-top: 10px;
}
.liquidate-form-company{
  float: left;
  width: 97%;
}
.half-field{
  width: 45%;
}
.no-bottom-padding{
  margin-bottom: 0 !important;
}
.margin-top-80{
  margin-top: 40px;
}
