// For login.html.erb

@import 'colors';

.signin-box {
	margin: 100px auto;
	font-family: "Lato", sans-serif;
	width: 500px;
	border: none;
	background: #ffffff;
	padding: 10px 40px 40px 40px;
}
.payment-box {
	margin: 60px auto;
	font-family: "Lato", sans-serif;
	width: 500px;
	border: none;
	background: #ffffff;
	padding: 10px 40px 40px 40px;
}

.userbox, .passbox {
	outline: none;
	border: none;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	padding: 3px 6px;
	font-size: 16px;
	width: 100%;
	margin: 15px auto;
}

.userbox:focus, .passbox:focus {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.login-button {
	padding: 0 20px;
	min-width: 200px;
	height: 50px;
	background: $buttonlight;
	border: none;
	outline: 0;
	margin-bottom: 20px;
	font-size: 18px;
	font-family: "Lato", sans-serif;
	color: white;
}

.login-button:hover {
	background-color: $buttondark;
}

.signup {
	outline: 0;
	border: none;
	background: white;
	font-size: 16px;
}

.signup:hover{
	text-decoration: underline;
}

.notice {
	color: #0033CC;
	margin-top: 10px;
	font-size: 14px;
}

.tab {
	width: 49%;
	float: left;
	position: relative;
	display: table-cell;
	padding-bottom: 10px;
}

.row {
	position: relative;
	display: table;
	padding: 20px 0;
	width: 100%;
}

.right-line {
	border-right: 1px solid #CCCCCC;
}

.login-container {
	margin-top: 20px;
}

.expand {
	height: 200px;
}
