// For login.html.erb

.signin-box {
	margin: 100px auto;
	font-family: "Lato", sans-serif;
	width: 300px;
	border: none;
	background: #ffffff;
	padding: 40px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.userbox, .passbox {
	outline: none;
	border: none;
	border-bottom: 1px solid gray;
	border-right: 1px solid white;
	padding: 3px 6px;
	font-size: 16px;
	width: 100%;
	margin: 15px 0;
}

.userbox:focus, .passbox:focus {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.login-button {
	width: 200px;
	height: 50px;
	background: #3A6EC2;
	border: none;
	outline: 0;
	margin: 20px 0;
	font-size: 18px;
	font-family: "Lato", sans-serif;
	color: white;
}

.login-button:hover {
	background-color: #284B82;
}

.centered {
	text-align: center;
}

.signup {
	outline: 0;
	border: none;
	background: white;
	font-size: 16px;
}

.signup:hover{
	text-decoration: underline;
}

.notice {
	color: red;
}