// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*M O B I L E*/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .summary p {
    font-size: 16px;
    line-height: 150%;
  }
  .team-wrap, .white-box, .summary{
    height: auto !important;
  }
  .faq-answer{
    font-size: 22px;
    font-weight: 500 !important;
  }
}
