.mentor-box{
    display: inline-block;
    width: 320px;
    margin: 10px 15px;
    text-align: center;
    text-align: -webkit-center;
    vertical-align: top;
}
.mentors-content{
    margin: 0 auto;
    width: 85%;
    text-align: center;
    background: white;
    padding: 20px;
    padding-bottom: 100px;
    margin-bottom: 100px;
}
.diversity-logo-image {
/*    width: 270px;
    height: auto;*/
    max-height: 100%;
       max-width: 100%;
       width: auto;
       height: auto;
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       margin: auto;
}
.diversity-logo-image-wrapper{
    height: 250px;
    width: 270px;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 1250px) {
    .mentors-content{
        width: 95%;
    }
}

@media screen and (max-width: 1120px) {
    .mentor-box{
        width: 300px;
    }
}

@media screen and (max-width: 1055px) {
    .mentor-box{
        width: 285px;
        margin: 10px 9px;
    }

}
