/////////-------------- MENU ------------------//////////
@import "colors";


.menu-wrap {
	background-color: white;
	box-shadow: 0 2px 4px rgba(9, 94, 125, 0.20), 0 2px 4px rgba(9, 94, 125, 0.22);
	position: fixed;
	top: 0;
	border: none;
	outline: 0;
	z-index: 999;
	height: 52px;
}

.main-menu {
	display: inline;
	clear: both;
}

a {
	text-decoration: none;
}

.white a, .white {
	color: white;
}

.menu {
	margin: 0 auto;
}

.menu li {
	margin: 0;
	list-style: none;
}

.menu > ul > li {
	display: inline-block;
	position: relative;
	font-size: 18px;
	float: right;
}

.menu > ul > li:hover {
	background-color: $gray;
}

.menu > ul > li:hover, .menu li:hover, .sub-menu li:hover, button:hover {
	cursor: hand;
	cursor: pointer;
}

.sub-menu {
	width: 130%;
	min-width: 170px;
	padding: 0;
	position: absolute;
	top: 100%;
	right: 0;
	display: none;
	opacity: 0;
	transition: opacity linear 0.15s;
	background: $gray;
	box-shadow: 0 6px 8px rgba(9, 94, 125,0.20);
}

.sub-menu button {
	min-width: 170px;
	text-align: left;
}

.sub-menu li:hover {
	background: $darkgray;
}

.menu li:hover .sub-menu {
	display: block;
	opacity: 1;
}

button {
	outline: 0;
	border: none;
	background: transparent;
	font-size: 18px;
	color: white;
}

.main-menu button {
	color: $darkblue;
}

.menu button {
	font-size: 16px;
	padding: 17px;
}


.arrow {
	font-size: 10px;
	line-height: 0%;
}

.logo {
	background: transparent url(asset-path("DreamFundedLogo.png")) no-repeat top left;
	background-size: contain;
	height: 30px;
	width: 180px;
	position: relative;
	border-top: 10px solid transparent;
	border-bottom: 12px solid transparent;
}

#nopadding {
	padding: 0;
}

#left {
	margin-left: 40px;
	float: left;
	height: 52px;
}

#left:hover {
	background: white;
}
