/////////-------------- MENU ------------------//////////
@import "colors";

@font-face {
  font-family: 'GothamBook';
  src: url('GothamBook.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('Gotham-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('Gotham-Thin.otf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('Gotham-Light.otf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'GothamMedium';
  src: url('GothamMedium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.menu-wrap {
	background-color: #FFFFFF;
	box-shadow: 0 2px 4px rgba(9, 94, 125, 0.20), 0 2px 4px rgba(9, 94, 125, 0.22);
	position: fixed;
	top: 0;
	border: none;
	outline: 0;
	z-index: 999;
	height: 52px;
}

.main-menu {
	display: inline;
	clear: both;
}
#mobile-menu {
	float: left;
	visibility: hidden;
}
.ipad-menu {
	float: left;
	display: none;
	width: 0;
}

a {
	text-decoration: none;
}

.white a, .white {
	color: white;
}

.menu {
	margin: 0 auto;
}

.menu li {
	margin: 0;
	list-style: none;
}

.menu > ul > li {
	display: inline-block;
	position: relative;
	font-size: 18px;
	float: right;
}

.menu > ul > li:hover {
	background-color: $gray;
}

.menu > ul > li:hover, .menu li:hover, .sub-menu li:hover, button:hover {
	cursor: hand;
	cursor: pointer;
}

.sub-menu {
	width: 130%;
	min-width: 170px;
	padding: 0;
	position: absolute;
	top: 100%;
	right: 0;
	display: none;
	opacity: 0;
	transition: opacity linear 0.15s;
	background: $gray;
	box-shadow: 0 6px 8px rgba(9, 94, 125,0.20);
}

.sub-menu button {
	min-width: 170px;
	text-align: left;
}

.sub-menu li:hover {
	background: $darkgray;
}

.menu li:hover .sub-menu {
	display: block;
	opacity: 1;
}

button {
	outline: 0;
	border: none;
	background: transparent;
	font-size: 18px;
	color: white;
}

.main-menu button {
	color: $darkblue;
}

.menu button {
	font-size: 15px;
	padding: 0 17px;
	height: 52px;
	font-weight: 500;
	font-family: 'proxima-nova',sans-serif;
}


.arrow {
	font-size: 9px;
	line-height: 0%;
}

.logo {
	background: transparent url(asset-path("DreamFundedLogo.png")) no-repeat top left;
	background-size: contain;
	height: inherit;
	width: 180px;
	position: relative;
	border-top: 10px solid transparent;
	border-bottom: 12px solid transparent;
}
/*.logo:hover{
	background-color: #ECECEC;
}*/

#nopadding {
	padding: 0;
}

#left {
	margin-left: 40px;
	float: left;
	height: 52px;
	position: absolute;
	left: 0;
}

#left:hover {

}
#sign-in-button{
	background-color: #FFA600;
	color: white;
}
#last-menu-button{
	width: 77px;
}
.invite-menu-text{
	display: block;
	margin-left: 10px;
	margin-top: 5px;
	font-size: 12px;
	color: #0D87B3;
}
.invite-menu-button{
	height: 70px !important;
}
#hidden-menu{
	display: none;
}


/*M O B I L E*/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
	.arrow{
		font-size: 28px;
	}

}

@media screen and (max-width : 1275px){
	.menu button {
		font-size: 15px;
		padding: 0 12px;
	}
	#left{
		margin-left: 20px
	}
}
@media screen and (max-width : 1163px){
	.menu button {
		font-size: 14px;
		padding: 0 10px;
	}
	#left{
		margin-left: 10px
	}
}
@media screen and (max-width : 963px){
	#hidden-menu{
		display: block;
	}
	.items-to-hide{
		display: none !important;
	}
}

