// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";


.creation-wrap {
	width: 550px;
}

.news-single-container {
	width: 77%;
	height: 250px;
	margin: 30px auto;
	padding: 30px;
	background: white;
	position: relative;
}

.news-image {
	float: left;
  overflow: hidden;
  position: relative;
}

.article-image {
	width: 250px;
  height: auto;
  max-height: 250px;
}

.news {
	margin-left: 30px;
	width: 63%;
	float: left;
	padding: 15px;
}

.smaller {
	margin: 20px 0;
	width: 130px;
}

.title-container {
	font-size: 30px;
	color: $darkblue;
	border-bottom: 1px solid gray;
	overflow: hidden;
	height: 40px;
}

.content-container {
	margin: 10px 30px;
	height: 90px;
	overflow: hidden;
	font-size: 18px;
}

.point {
	font-size: 20px;
}

.article-button {
	display: inline-block;
	margin-top: 10px;
	color: white;
	border: none;
	padding: 10px 50px;
	background: $darkblue;
	font-size: 18px;
	cursor: pointer;
	font-family: BlinkMacSystemFont;
}

.article-button:focus {
	outline: none;
}

.center {
	text-align: center;
}

.title {
	font-size: 30px;
}

.topbar {
	width: 100%;
	border-bottom: 1px solid gray;
	height: 30px;
}

.full-image {
	max-width: 550px;
	max-height: 550px;
	float: left;
	margin: 0 40px 40px 0;
}
.full-photo {
	max-width: 300px;
	max-height: 550px;
	float: left;
	margin: 0 40px 40px 0;
	border-radius: 50%
}

.article {
	font-size: 17px;
	line-height: 150%;
}

.description-box {
	width: 95%;
	height: 200px;
	margin: 2%;
	border: none;
	outline: 0;
	font-size: 16px;
}

.source {
	margin: 10px;
	height: 15px;
}

.page {
	min-height: 450px;
}

.art-text {
	min-height: 400px;
}
.news-read-more-buton{
	text-align: center;
}
 /*i P A D*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
	.news-single-container{
		width: 90%;
	}
}
