// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit-form{
  text-align: center;
}
.float-rigth {
  float: right;
  margin-left: 10px;
}
