// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit-form{
  text-align: center;
}
.float-rigth {
  float: right;
  margin-left: 10px;
}
.paragraph-position{
  margin-right: 10px;
}
.posts-form{
  font-size: 20px;
  color: #0D87B3;
  text-align: center;
}
.posts-textarea{
  font-size: 16px;
  line-height: 130%;
}
.press-post-h1{
  font-size: 36px;
  margin-bottom: 0;
}
.press-post-name{
  margin-top: 0;
  font-size: 20px;
}
.press-post-inline {
  display: inline-block;
  vertical-align: top;
}
