// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
	text-decoration: none;
}

.centered {
	text-align: center;
}

.signin-box {
	background: #ffffff;
	margin: 70px auto;
	width: 350px;
	font-family: "Lato", sans-serif;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.signin-content {
	margin-left: auto;
	margin-right: auto;
	padding: 5px 25px;
}

.underline-style {
	width: 100%;
	padding: 5px;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid gray;
	margin: 10px 0;
}

.underline-style.placeholder {
	color: gray;
	letter-spacing: 2px;
}

.underline-style.placeholder:focus {
	color: #ffffff;
}

.underline-style.focus, .underline-style:focus {
	border-bottom: 2px solid #000000;
	outline: 0;
}

.gentle-gray {
	color: #888;
}

.spaced-vert {
	padding-top: 10px;
	padding-bottom: 10px;
}

.spaced-letters {
	letter-spacing: 2px;
}

.signin-button {
	background-color: #3A6EC2;
	border: none;
	outline: 0;
	font-size: 18px;
	color: white;
	height: 55px;
	width: 210px;
}










