// Place all the styles related to the signup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';

.box {
	margin: 100px auto;
	font-family: "Lato", sans-serif;
	border: none;
	background: #ffffff;
	padding: 20px 40px 40px 40px;
}

.signup-size {
	width: 500px;
}

.input-box {
	outline: none;
	border: none;
	border-bottom: 1px solid gray;
	border-right: 1px solid white;
	padding: 3px 6px;
	font-size: 16px;
	width: 97%;
	margin: 0 0 30px 0;
}

.input-box:focus {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.half {
	width: 45%;
	float: left;
}

.scoot-left {
	margin-left: 3%;
}

#submit-button {
	width: 200px;
	height: 50px;
	background: #FFAA00;
	border: none;
	outline: 0;
	margin: 20px auto;
	font-size: 18px;
	font-family: "Lato", sans-serif;
	color: white;
}

#submit-button:hover {
	background-color: #C4901E;
}

#submit-button:disabled {
	background-color: $buttongray;
}

.top-gap {
	padding-top: 20px;
}

.notice {
	height: 50px;
	color: #0033CC;
	font-size: 14px;
}

.check_box {
	font-size : 15px;
	display: block;
}
.check_box input{
	margin-bottom: 6px;
}

.tab {
	width: 49%;
	float: left;
	position: relative;
	display: table-cell;
	padding-bottom: 10px;
}

.row {
	position: relative;
	display: table;
	padding: 20px 0;
	width: 100%;
}

.right-line {
	border-right: 1px solid #CCCCCC;
}
.payment-form{
	text-align: center;
}
.payment-form input{
	height: 22px;
	width: 151px;
}
#payment-title{
	font-size: 35px;
}
#linkedin-icon{
	color: #0077b5;
	margin-left: 10px;
}
#google-icon{
	color: #EF2219;
	margin-right: 10px;
}
.social-login-ions{
	margin-bottom: 10px;
}
 /*i P A D*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
	.input-box, .userbox, .passbox {
		font-size: 25px;
		border: 1px solid gray;
		border-radius: 3px;
	}
	.input-box{
		font-size: 20px;
	}
	.userbox:focus{
		border: 1px solid gray;
	}
}
