//for team.html.erb
.centered {
	text-align: center;
}


.header-contents {
	font-size: 18px;
}

.header-container{
	background-color: white;
	padding-bottom: 1px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
}

.single-bio{
	outline: none;
	border: none;
	height: 240px;
	padding: 10px;
}

.bio-picture{
	float:left;
	width:200px;
	height:200px;
}

.bio-name{
	padding: 3px;
	color:black;
}

.bio-contents{
	padding: 3px;
}

.bio-link{
	
}