//for team.html.erb

.centered {
	text-align:center;
}

.team-header{
	color:white;
	font-size:250%;
}

.team-header-contents{
	color:white;
	font-size:120%;
}

.header-container{
	background-color:cornFlowerBlue;
}

.single-bio{
	
}