// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

#user-button {
	width: 40%;
	margin: 5%;
	padding: 15px;
	background: $darkblue;
	font-size: 18px;
	border: none;
	color: white;
	cursor: pointer;
	float: left;
}

#user-button:hover {
	background: $lightblue;
}

#user-button:focus {
	outline: 0;
	border: none;
}

#user-table {
	text-align: center;
	float: center;
	margin: 0 auto;
}

#user-table th {
	color: $darkblue;
}

#user-table td {
  border-right: solid 1px $darkblue; 
  border-left: solid 1px $darkblue;
  padding: 10px 30px;
}

.team-wrapper {
	width: 500px;
	margin: 50px auto;
}