.centered{
	text-align:center;
}

.header-container{
	background-color:white;
	z-index: 300;
}

.word-content {
	margin: 0 auto;
	width: 80%;
	background: white;
	padding: 20px;
	padding-bottom: 150px;
	margin-bottom: 150px;
}

.text-content {
	margin: 100px;
}

