.centered{
	text-align:center;
}

.header{
	color:black;
	font-size:250%;
}

.header-contents{
	color:black;
	font-size:120%;
}

.header-container{
	background-color:white;
}

.subtitle{
	
}

.paragraph{
	
}

.video{
	width="500";
	height="300";
}